<h1>Log in</h1>

  <table>
  	<tr>
  		<td colspan="2">
		    <% flash.each do |name, msg| %>
		      <%= content_tag :div, msg, :id => "flash_#{name}" %>
		    <% end %>
  		</td>
  	</tr>
  	<tr>
  		<td></td>
  		<td>
  			<% if session[:terapeuta] == nil %>
			  	<%= render 'sessions/login'%>
	  	    <% else %>
				Bienvenido <%= session[:terapeuta].nombre %> <%= link_to 'Cerrar sesión', logout_path %><br />
				<%= link_to "Mi cuenta", edit_terapeuta_path(session[:terapeuta]) %>
			<% end %>
  		</td>
  	</tr>
  </table>