<%= form_for @search do |f| %>
<fieldset style="width:450px">
<div>Ordenar por:</div>
<table>
	<tr>
		<td>Tipo terapeuta:</td>
		<td>Especialización:</td>
		<td>Palabra clave:</td>
	</tr>
	<tr>
		<td><%= f.collection_select :tipo_terapias_nombre_contains, RefDatum.where(:nombre => "Tipo Terapeuta"), :valor, :valor %></td>
		<td><%= f.collection_select :especialidades_valor_contains, RefDatum.where(:nombre => "Especialidad"), :valor, :valor, include_blank: true %></td>
		<td><%= f.text_field :nombre_contains %></td>
	</tr>
	<tr>
		<td>Ciudad de atención:</td>
		<td>Comuna de atención:</td>
		<td></td>
	</tr>
	<tr>
		<td><%= f.collection_select :region_contains, Region.order(:nombre), :id, :nombre, include_blank: true %></td>
		<td><%= f.grouped_collection_select :comuna_contains, Region.order(:nombre), :comunas, :nombre, :id, :nombre, include_blank: true %></td>
		<td><%= f.submit "Buscar" %></td>
	</tr>
</table>
</fieldset>
<% end %>
