<%= form_for @search do |f| %>			
<!-- Datos principales de quienes asistir치n a terapia -->
<div class="form-box">

	<div class="titulo-form">
	<h3>Busca tu terapeuta</h3>
	</div>
	
	

	<div class="form-block busqueda-tipo-terapeuta">
		<div class="label">
			Terapeuta
		</div>
		<div class="input_field">
			<%= f.collection_select :tipo_terapias_nombre_contains, RefDatum.where(:nombre => "Tipo Terapeuta"), :valor, :valor, {}, {"style" => "width:190px"} %>
		</div>
	</div>

	<div class="form-block busqueda-palabra-clave">
		<div class="label">
			Palabra Clave
		</div>
		<div class="input_field">
			<%= f.text_field :tipo_terapias_nombre_or_especialidades_valor_contains %>
		</div>
	</div>
	<div class="form-block">
		<div class="form-block busqueda-region">
			<div class="label">
				Regi칩n de atenci칩n:
			</div>
			<div class="input_field">
				<%= f.collection_select :region_contains, Region.order(:id), :id, :nombre, {include_blank: true}, :class => "search_region" %>
			</div>
		</div>
		<div class="form-block busqueda-comuna">
			<div class="label">
				Comuna de atenci칩n:
			</div>
			<div class="input_field">
				<%= f.grouped_collection_select :comuna_contains, Region.order(:id), :comunas, :nombre, :id, :nombre, {include_blank: true}, :class => "search_comuna" %>
			</div>
		</div>
		<div class="form-block busqueda-button">
			<div class="label">
				&nbsp;
			</div>
			<div class="input_field">
				<%= f.submit "Encontrar terapeuta", :class => "boton-morado" %>
			</div>
		</div>
	</div>

</div><!--box form-->
<% end %>
