<%= form_tag terapeutas_path, method: :get do %>			
<!-- Datos principales de quienes asistir치n a terapia -->
<div class="form-box">

	<div class="titulo-form">
	<h3>Busca tu terapeuta</h3>
	</div>
	
	

	<div class="form-block busqueda-tipo-terapeuta">
		<div class="label">
			Terapeuta
		</div>
		<div class="input_field">
			<%= collection_select :form, :tipo_terapeuta, RefDatum.where(:nombre => "Tipo Terapeuta"), :valor, :valor, :prompt => "Todos"%>
		</div>
	</div>

	<div class="form-block busqueda-palabra-clave">
		<div class="label">
			Palabra Clave
		</div>
		<div class="input_field">
			<%= text_field_tag :search, params[:search] %>
		</div>
	</div>
	<div class="form-block">
		<div class="form-block busqueda-region">
			<div class="label">
				Regi칩n de atenci칩n:
			</div>
			<div class="input_field">
				<%= collection_select :form, :region, Region.order(:id), :nombre, :nombre, {include_blank: true}, :class => "search_region" %>
			</div>
		</div>
		<div class="form-block busqueda-comuna">
			<div class="label">
				Comuna de atenci칩n:
			</div>
			<div class="input_field">
				<%= grouped_collection_select :form, :comuna, Region.order(:id), :comunas, :nombre, :nombre, :nombre, {include_blank: true}, :class => "search_comuna" %>
			</div>
		</div>
		<div class="form-block busqueda-button">
			<div class="label">
				&nbsp;
			</div>
			<div class="input_field">
				<%= submit_tag "Encontrar terapeuta", :class => "boton-morado" %>
			</div>
		</div>
	</div>

</div><!--box form-->
<% end %>
