	<div id="block-content" class="block-wrapper">
		<div class="wrapper" id="content">

		<div class="columna-670-left columna-acceso-beneficios">
			<h2>Beneficios de pertenecer a buscoterapia.cl</h2>
			<div class="deco-mono"></div>
			<div class="text-box-porque">
				<h1><span class="superDestacado nocolor">¿</span>Por qué <span class="superDestacado">participar?</span></h1>
				<p class="superStrong">
					Porque contarás con una vitrina profesional personalizada que te permitirá <strong>recibir nuevos consultantes</strong> tanto por contactación directa a <strong>tu ficha</strong> como por derivaciones desde <strong>Nuestro Portal</strong> más un montón de otros <strong>beneficios y utilidades</strong> que te van a sorprender y por el mismo costo. A sólo <strong>2 meses</strong> del lanzamiento tenemos más de <strong>15,000 visitas</strong>, alrededor de <strong>300 solicitudes de asesorías y decenas de</strong> apariciones en <strong>prensa nacional</strong>. 
					<br/><a onClick="$('#bt-comenzar-ahora').trigger('click')">Conoce todos los beneficios</a>
				</p>
			</div>
				<p class="center">
				<input id="bt-comenzar-ahora" type="button" class="boton-azul" value="PARTICIPA"/>
				</p>

				<div class="columna50">
					<div class="text-box-quienessomos">
						<h1><span class="superDestacado nocolor">¿</span>Quienes <span class="superDestacado">somos?</span></h1>
						<p class="superStrong">
							Somos un equipo de <strong>terapeutas profesionales</strong> coordinados por <strong>psicólogos de la Universidad de Chile</strong> a los cuales nos costó mucho dar a conocer nuestros servicios. Sabemos lo costoso que es, sabemos que las personas precisan de asesoría e información y lo más importante, sabemos que <strong>trabajando en colectivo somos mucho más grandes</strong>.
							<br/><%= link_to "Conoce a todo el equipo", quienes_somos_url %>
						</p>
					</div>
				</div>
				<div class="columna50 last">
					<div class="text-box-caro">
						<h1><span class="superDestacado nocolor">¿</span>Es muy <span class="superDestacado">caro?</span></h1>
						<p class="superStrong">
<strong>Absolutamente, no.</strong> Sinceramente, un servicio innovador y completo como este no tiene comparación con ninguna otra estrategia. Comapara <strong>Costo Económico</strong>, <strong>Impacto</strong> y <strong>Otras Utilidades</strong>. 
						</p>
						<span class="dinamicHide">
							<span class="hideWhenShow">
								<!--<p><a href="#" class="hideButton">leer más</a></p>-->
							</span>
							<span class="hiddenContent">
								<p  class="superStrong">
		<strong>Puedes</strong> construir tu página web <strong>pero</strong> tendrá menor impacto. <strong>Puedes</strong> contratar  un mes de Páginas Amarillas <strong>pero</strong> te costará al mes lo que con nosotros te cuesta un año. <strong>Puedes</strong> salir en la Pantalla Gigante del Paseo Ahumada <strong>pero</strong> te saldrá aún más caro, y no tendrás las útiliadades y beneficios diseñados especialmente para nuestras disciplinas
								<br/><a onClick="$('#bt-comenzar-ahora').trigger('click')" >Conoce nuestros planes, beneficios y compara</a>
								
								</p>
							</span>
						</span>
					</div>
				</div>
			
			
			<p class="insideBoxFooter">
				Contratos Terapeuta: <a href="<%= root_url %>/PLAN GRATUITO.pdf" target="_blank">gratuito</a>
				- <a href="<%= root_url %>/PLAN INFORMACION TOTAL TRIMESTRAL.pdf" target="_blank">trimestral</a>
				- <a href="<%= root_url %>/PLAN INFORMACION TOTAL SEMESTRAL.pdf" target="_blank">semestral</a>
				- <a href="<%= root_url %>/PLAN INFORMACION TOTAL ANUAL.pdf" target="_blank">anual</a> 
				<%= link_to "Condiciones de uso", condiciones_de_uso_url, :class => "footerMiddle" %><br />
				<a href="<%= root_url %>/politicas_funcionamiento_gestion_terapeutica.pdf">Políticas de funcionamiento de la gestión terapéutica</a>
			</p>
		
		
		</div><!--columna-670-left-->
		
		<div id="loginForm_inside" class="columna-325-right">
				<h2>Accede a tu Cuenta</h2>
				<hr class="login-separador"/>
				<%= form_tag sessions_path do %>
				<div class="form-block">
					<div class="label">Nombre de usuario o email</div>
					<div class="input_field">
						<%= text_field_tag :email, params[:email], :id => "user_field" %>
					</div>
				</div>
				<div class="form-block "><!-- en este caso con clase alerta aparece el aviso -->
					<div class="label">Password</div>
					<div class="input_field">
						<%= password_field_tag :password %>
					</div>
				</div>
				
				<p id="password-incorrecto">Tus datos no coinciden</p><!-- tiene display none, necesita display block para aparecer-->
				<!--<span class="texto-recordar"><input type="checkbox" name="recordar" value="recordar"> <span>recordar</span></span>-->
				
				<%= submit_tag "Ingresar", :class => "boton-azul" %>
				<% end %>
				<hr class="login-separador"/>
				<br/>
				<div class="form-block"><%= link_to "¿Olvidaste tu contraseña?", forgot_password_url %></div>
			
		</div><!-- #loginForm -->
		<div class="columna-325-right">
				<h2>Noticias</h2>
				<ul class="noticias-list">
				<% @noticias.each do |noticia| %>
				<li>
					<p><%= link_to noticia.titulo, articulo_path(noticia) %> <%= noticia.contenido[1,170 ]%>... 
						<%= link_to 'ver más', articulo_path(noticia) %>.</a> 
					<!--<a href="#">ver más</a>-->
					</p>
				</li>
				<% end %>
				</ul>
		</div><!-- #noticias -->

		
		<div class="columna-one-full columna-planes">
			<div class="columnaLeft">
				<h2>Formas de Participación</h2>

				<div class="tabla-comparacion">
					<table>
						<tr class="tabla-guia tabla-header">
							<th>&#8194;</th>
							<td class="parcial"><h3>Parcial</h3><div class="arrow"></div></td>
							<td class="completa"><div class="arrow"></div><h3>Completa</h3></td>
						</tr>
						<tr>
							<th class="first">Cantidad de datos en tu ficha</th>
							<td><p><strong>Reducido</strong></p></td>
							<td><p><strong>Todos tus datos</strong></p></td>
						</tr>
						<tr>
							<th>Ser parte del directorio de terapeutas</th>
							<td><p><div class="tabla-si">Sí</div></p></td>
							<td><p><div class="tabla-si">Sí</div></p></td>
						</tr>
						<tr>
							<th>Estadísticas de visitas</th>
							<td><p><div class="tabla-si">Sí</div></p></td>
							<td><p><div class="tabla-si">Sí</div></p></td>
						</tr>
						<tr>
							<th>Mapa de ubicación de tu consulta</th>
							<td><p><div class="tabla-no">No</div></p></td>
							<td><p><div class="tabla-si">Sí</div></p></td>
						</tr>
						<tr>
							<th>Contacto directo con usuarios</th>
							<td><p><div class="tabla-no">No</div></p></td>
							<td><p><div class="tabla-si">Sí</div></p></td>
						</tr>
						<tr>
							<th>Recibir derivaciones desde el sitio</th>
							<td><p><div class="tabla-no">No</div></p></td>
							<td><p><div class="tabla-si">Sí</div></p></td>
						</tr>
						<tr>
							<th>Asistencia directa para tu ficha</th>
							<td><p><div class="tabla-no">No</div></p></td>
							<td><p><div class="tabla-si">Sí</div></p></td>
						</tr>
						<tr class="last">
							<th><p>&#8194;</p><p>&#8194;</p><p>Valor</p></th>
							<td class="costo-gratis">
								<p><strong>&#8194;</strong><br/>
								<span class="valor">$0</span><br/>
								</p>
							</td>
							<td class="last">
								<p><strong>desde</strong><br/>
								<span class="valor">$26.700<sup>*</sup></span><br/>
								plan trimestral</p>
							</td>
						</tr>
						
						<tr class="tabla-guia tabla-botones">
							<th>&#8194;</th>
							<td class="parcial">
								<p>
								<%= button_to 'Inscribirse gratis', new_terapeuta_path(:tipo => "gratuito"), :method => 'get', :class => "boton-gris" %>
								</p>
							</td>
							<td class="completa">
							<p>
							<%= button_to 'Suscribir', new_terapeuta_path(:tipo => "pagado"), :method => 'get', :class => "boton-azul" %>
							</p>
							</td>
						</tr>
					</table>
				</div>
			</div>
			<div class="columnaRight">
				<h2>Más beneficios por el mismo costo!</h2>
				<ul class="lista-dots">
					<li><span><a href="#">te conveníamos con isapres</a><span></li>
					<li><span><a href="#">convenios con empresas</a><span></li>
				
				
				</ul>
				
				<div class="imagen-ficha-ejemplo"></div>
				
			</div>
			<div class="columnaLeft">
				<h2><sup>*</sup>Planes de Participación Completa</h2>
				<p><strong>Trimestral:</strong> $26.700 corresponde a $8.900 por mes</p>
				<p><strong>Semestral:</strong> $44.880 corresponde a $7.480 por mes</p>
				<p><strong>Anual:</strong> $63.600 corresponde a <span class="bestPrice">$5.300</span> por mes<span class="bestPriceIcon"></span></p>
			</div>
		</div><!--columna-one-full-->
		
		
		<div class="columna-one-full">
			<h2>Casos de Éxito</h2>
			<div class="columna50">
			<p>Me inscribí de manera gratuita en el sitio para ver qué pasaba, recibí dos llamados al día siguiente y un muy buen servicio de la gente del equipo por lo que decidí a suscribirme, tener un mes de garantía fue de todas maneras un alivio. Hoy llevo dos meses y estoy feliz, mis atenciones se incrementaron y la inversión en comparación con los beneficios es muy baja.</p>
			<p class="firma"><strong>María José en <a href="#">La Nación</a></strong></p>
			
			</div>
			<div class="columna50 lastChild">
			<p>Había estado buscando un psicólogo hace tiempo, escuchaba recomendaciones de mis conocidos, pero uno se da cuenta que en realidad no todas las terapias son las mismas y que tenía que encontrar la mía. Finalmente me metí a la página y en el mismo día ya tenía 3 alternativas, escogí una, me agendaron la hora y me ha resultado mucho mejor de lo que esperaba</p>
			<p class="firma"><strong>Daniela 28/05/2012</strong></p>
			</div>
		</div><!--columna-one-full-->
		
		
		</div><!-- #content -->
	</div><!-- block-content -->
