	<div id="block-content" class="block-wrapper">
		<div class="wrapper" id="content">

		<div class="columna-one-full columna-acceso-beneficios">
			<div class="text-box">
			
				<h2>Beneficios de pertenecer a buscoterapia.cl</h2>
				<p class="grande">
					Buscoterapia es la plataforma vinculada con temas de terapia <strong>más grande del país</strong>. En ella podrás publicar tu ficha como terapeuta y ofrecer tus servicios terapéuticos de manera simple y centralizada.
				</p>
				<p class="grande">
					Tenemos dos planes de suscripción, uno gratuito, que te permite presentar antecedentes básicos de tus servicios y uno pagado, que te permitirá, además de presentar toda la información que los usuarios necesitan conocer de ti, ser referenciado por nuestro equipo de profesionales de soporte y vincularte con consultantes que necesiten de tus experticias.
				</p>
				<p class="grande">
					No te quedes fuera y se parte de nuestra propuesta.
				</p>
				<p>
				<input id="bt-comenzar-ahora" type="button" class="boton-azul" value="¡Comenzar ahora!"/>
				</p>
				<div class="columna50">
					<h2 class="titulo-testimonios">Para las personas:</h2>
					<p>
					<strong>Asesoría en línea:</strong> Todas las personas pueden solicitar de manera gratuita asesoría para que nuestro equipo de profesionales le sugiera los especialistas idóneos para abordar sus problemáticas.
					</p><p>
					<strong>Información centralizada:</strong> El único y más grande directorio de terapeutas con estudios acreditados a nivel nacional.
					</p><p>
					<strong>Un sitio web muy fácil de usar:</strong> Desarrollado por especialistas y testeado con usuarios para asegurar su eficiencia y eficacia.
					</p><p>
					<strong>Rapidez:</strong> toda solicitud al sitio tiene un tiempo máximo de 90 minutos para ser respondida.
					</p><p>
					<strong>Seriedad:</strong> Todo nuestro equipo de soporte cuenta con conocimientos en terapias tanto alternativas como psicológicas.
					</p>
				</div>
				<div class="columna50 last">
					<h2 class="titulo-testimonios">Para los terapeutas:</h2>
					<p>
					<strong>Gestión de consultantes:</strong> Los terapeutas registrados en un plan de “Información Total“ podrán optar por recibir usuarios referenciados del sitio pagando solo un porcentaje de la primera atención.
					</p><p>
					<strong>Encontrabilidad:</strong> Este término tecnológico hace referencia a la posibilidad de ser encontrado por potenciales consultantes tanto dentro del sitio como en los principales buscadores de Internet.
					</p><p>
					<strong>Economía:</strong> Esta alternativa es actualmente la más económica del mercado.
					</p><p>
					<strong>Estadísticas de uso:</strong> El sitio genera estadísticas mensuales de la cantidad de consultas que recibe la ficha de cada terapeuta, esto te permitirá hacer ajustes, analizar y proyectar.
					</p><p>
					<strong>Facilidad de uso:</strong> Actualización simple y rápida de datos.
					</p><p>
					<strong>Satisfacción garantizada:</strong> Si durante el primer mes de suscripción no estás conforme con el servicio te devolvemos la inversión. 
					</p>
				</div>
			</div>
		
		
		</div><!--columna-670-left-->
		
		
		
		<div class="columna-one-full bases-valoricas">
			<div class="columna30 lastChild">
			<h3>Políticas de funcionamiento de la Gestión Terapéutica.</h3>
			<p>Dentro de los servicios del proyecto informativo implementado por el Equipo de Buscoterapia.cl, la Gestión Terapéutica emerge como ..<a href="<%= root_url %>/politicas_funcionamiento_gestion_terapeutica.pdf">Leer más.</a></p>
			</div>
		</div><!--columna-335-right-->
		
		<div class="columna-one-full columna-planes">
			<h2>Nuestros planes:</h2>
			<div class="plan plan0">
				<h1>Registro Gratuíto</h1>
				<p>Registrate <strong>gratuitamente</strong> en buscoterapia.cl y <strong>obtén</strong>:</p>

				<ol>
					<li>Incremento en tus atenciones.</li>
					<li>Información básica de tu perfil</li>
					<li>Personalización de tu ficha personal</li>
					

					
				</ol>
				<div class="box-contratar">
					<div class="precio-borde precio-borde-left top"></div>
					<div class="precio-borde precio-borde-right top"></div>
					<div class="precios">
						<p><span class="precio_valor">Registro Gratuito</span></p>
					</div>
					<div class="precio-borde precio-borde-left"></div>
					<div class="precio-borde precio-borde-right"></div>
					<%= link_to 'Contratar', new_terapeuta_path(:tipo => "gratuito"), :class => "boton-azul" %>
				</div>
			</div>
			<div class="plan plan1">
				<h1>Plan</h1>
				
				<p><strong>Contratando este plan obtén:</strong></p>

				<ol>
					<li>Incremento en tus atenciones.</li>
					<li>Información básica de tu perfil</li>
					<li>Personalización de tu ficha personal</li>
					<li>Información de teléfono, web y mail de contacto.</li>
					<li>Personalización de logo y foto en la ficha.</li>
					<li>Información completa de las especualidades.</li>
					<li>Mapa indexado del centro o terapéuta.</li>
					
	
				</ol>
				<div class="box-contratar">
					<div class="precio-borde precio-borde-left top"></div>
					<div class="precio-borde precio-borde-right top"></div>
					<div class="precios">
						<p>Trimestral:<span class="precio_valor"> <%=h number_to_currency RefDatum.find_by_nombre("Plan Trimestral").valor %> </span></p>
						<p>Semestral:<span class="precio_valor"> <%=h number_to_currency RefDatum.find_by_nombre("Plan Semestral").valor %> </span></p>
						<p>Anual:<span class="precio_valor"> <%=h number_to_currency RefDatum.find_by_nombre("Plan Anual").valor %> </span></p>
					</div>
					<div class="precio-borde precio-borde-left"></div>
					<div class="precio-borde precio-borde-right"></div>
					<%= link_to 'Contratar', new_terapeuta_path(:tipo => "pagado"), :class => "boton-azul" %>
				</div>
			</div>

		</div><!--columna-one-full-->
		
		</div><!-- #content -->
	</div><!-- block-content -->