<div id="block-content" class="block-wrapper">
	<div class="wrapper" id="content">

	<div class="columna-670-left">
		<h2>Cambiar Contraseña</h2>
		
		<div class="busqueda-box-center">
		<div class="form-box">
		
			<div class="titulo-form">
			<h3>Por favor ingrese su su nueva contraseña</h3>
			<%= debug @terapeuta %>
			</div>
			
			<div class="form-block busqueda-palabra-clave">
				<%= form_tag change_password_path do %>
				<%= hidden_field_tag :email, @enc_email %>
				<div class="label">
					Contraseña nueva
				</div>
				<div class="input_field">
					<%= text_field_tag :password %>
				</div>
				<div class="label">
					Confirme contraseña
				</div>
				<div class="input_field">
					<%= password_field_tag :password_confirmation %>
				</div>
				
				<div class="form-block busqueda-button">
					<div class="label">
						<!--&nbsp;-->
					</div>
					<div class="input_field">
						<%= submit_tag "Cambiar contraseña", :class => "boton-morado" %>
					</div>
				</div>
				<% end %>
			</div>
		</div><!--box form-->		
	</div><!--form-box-center-->
</div><!--columna-670-left-->

