<div id="block-content" class="block-wrapper">
	<div class="wrapper" id="content">

	<div class="columna-670-left">
		<h2>Buscar terapeutas</h2>
		
		<div class="busqueda-box-center">
		<%= render "search_form"%>
		<% if @sepa %>			
			<p class="busqueda-mensaje-resultado">
				Se han encontrado <strong><%=@terapeutas.count%></strong> resultados
				<% if @sepa["tipo_terapias_nombre_contains"].size != 0 %>
				con <strong><%= @sepa["tipo_terapias_nombre_contains"] %></strong>
				<% end %>
				<% if @sepa["region_contains"] != "" %> 
				en <strong><%= Region.find(@sepa["region_contains"]).nombre %></strong> 
				<% end %>
				<% if @sepa["tipo_terapias_nombre_or_especialidades_valor_contains"] != nil and @sepa["tipo_terapias_nombre_or_especialidades_valor_contains"].size != 0 %> 
					relacionados con <strong><%= @sepa["tipo_terapias_nombre_or_especialidades_valor_contains"] %></strong>
				<% elsif @sepa["especialidades_valor_contains"] != nil and @sepa["especialidades_valor_contains"].size != 0%>
					relacionados con <strong><%= @sepa["especialidades_valor_contains"] %></strong>
				<% end %>
			</p>
		<% end %>
		<% if @sepa %>
			<% @terapeutas.each do |terapeuta| %>
				<% if terapeuta.plan_tipo == "Gratis" %>
					<div class="ficha-persona ficha-simple">
					<div class="foto"><%= image_tag 'img/terapeuta_thumb_perfil-default.png'%></div>
					<div class="contenido-ficha">
						<p class="nombre-ficha"><%= terapeuta.nombre %></p>
						<p>
							<% terapeuta.estudios.each do |estudio| %>
								<strong><%= estudio.titulo %>, <%= estudio.establecimiento %></strong><br/>
							<% end %>
							Especialista en 
							<% terapeuta.especialidades.each do |especialidad| %>
								<%= especialidad.valor %>,
							<% end %>
							</br>
						</p>
						<div class="descripcion-full">
							<p><strong>Dirección:</strong> <%= terapeuta.direccion %>, <%= Comuna.find(terapeuta.comuna).nombre %>, <%= Region.find(terapeuta.region).nombre %></p>
							<input type="button" value="Contactar al Terapeuta" class="boton-morado" />
						</div><!--descirpcion full-->
					</div><!--contenido ficha-->
					
				</div><!--ficha persona-->
				<% else %>
					<div class="ficha-persona">
					<% if terapeuta.imagen_url.size != 0 %>
						<div class="foto"><%= image_tag terapeuta.imagen_url.terapeuta_thumb.url.to_s %></div>
					<% else %>
						<div class="foto"><%= image_tag 'img/terapeuta_thumb_perfil-default.png'%></div>
					<% end %>
					<div class="contenido-ficha">
						
						<p class="nombre-ficha"><%= terapeuta.nombre %></p>
						<p>
							Especialista en
							<% terapeuta.especialidades.each do |especialidad| %>
								<%= especialidad.valor %>,
							<% end %> 
							</br>
							<%= terapeuta.direccion %>, <%= Comuna.find(terapeuta.comuna).nombre %>, <%= Region.find(terapeuta.region).nombre %> 
						</p>
						<div class="descripcion-full">
							<div class="ficha-columna">
								<h3>Información de experiencia y formación académica:</h3>
								<ul>
									<li><span><strong>Especialidades:</strong> <br />
											<% terapeuta.especialidades.each do |especialidad| %>
												&nbsp;&nbsp;&nbsp;- <%= especialidad.valor %><br />
											<% end %>
										</span></li>
									<li><span><strong>Formación y Estudios Acreditados:</strong><br />
											<% terapeuta.estudios.each do |estudio| %>
											&nbsp;&nbsp;&nbsp;- <%= estudio.titulo %>, <%= estudio.establecimiento %><br />
											<% end %>
										</span></li>
								</ul>
								
								<h3>Costo y formas de pago:</h3>
								<ul>
									<li><span><strong>Arancel por sesión:</strong> <%= terapeuta.arancel %>.-</span></li>
									<li><span><strong>Formas de Pago:</strong> 
											<% terapeuta.forma_pagos.each do |forma_pago| %>
												<%= forma_pago.valor %>, 
											<% end %> 
										</span></li>
									<li><span><strong>Convenios:</strong><br />
											<% terapeuta.convenios.each do |convenio| %>
											&nbsp;&nbsp;&nbsp;- <%= convenio.valor %><br />
											<% end %>
										</span></li>
								</ul>
								
								<h3>Datos de Contacto:</h3>
								<ul>
									<li><span><strong>Dirección:</strong> <%= terapeuta.direccion %>, <%= Comuna.find(terapeuta.comuna).nombre %>, <%= Region.find(terapeuta.region).nombre %>.</span></li>
									<li><span><strong>Teléfonos de contacto:</strong> <%= terapeuta.telefono %></span></li>
									<li><span><strong>Correo electrónico:</strong> <%= terapeuta.email %></span></li> 
									<li><span><strong>Sitio web:</strong> <%= link_to terapeuta.sitio_web, "http://"+terapeuta.sitio_web, :target => "_blank" %></span></li>
								</ul>
								
								<input type="button" value="Contactar al Terapeuta" class="boton-morado" />
							</div><!-- ficha-columna -->
							<div class="ficha-sidebar">
								<div class="box box-descuentos">
								<h3>Descuentos</h3>
								<img src="http://fpoimg.com/151x126" alt="Esteban Soto" width="151" height="126" border="0" />
								</div>
								
								<div class="box box-mapa">
									<h3>Mapa de Ubicación</h3>
									<div class="map-container">
										<%= image_tag "http://maps.google.com/maps/api/staticmap?size=151x182&sensor=true&zoom=15&markers=#{terapeuta.latitude}%2C#{terapeuta.longitude}", :class => "link-mapa-google" %>
									</div>
								</div>
							</div><!-- ficha-sidebar -->
						</div><!--descirpcion full-->
					</div><!--contenido ficha-->
					
				</div><!--ficha persona-->
				<% end %>
			<% end %>
			<%= will_paginate @terapeutas, previous_label: h("<"), next_label: h(">") %>
		<% end %>
				
				
			
			</div><!--form-box-center-->
		</div><!--columna-670-left-->
		
		
		
		<div class="columna-335-right necesita-ayuda">
			<h2>¿Necesitas ayuda?</h2>
			<div class="necesita-ayuda-gente"></div>
			<p>Si tienes problemas y no tienes claro dónde acudir, escríbenos y nosotros te asesoraremos y te recomendaremos el terapeuta ideal.<br/>
			<%= link_to "Solicitar Asesoria", new_asesoria_path %>
		
		</div><!--columna-335-right-->
		
		<%= render "home/preguntas_frecuentes" %>		
		</div><!-- #content -->
	</div><!-- block-content -->
	