<div id="block-content" class="block-wrapper">
	<div class="wrapper" id="content">

	<div class="columna-670-left">
		<div class="busqueda-box-center">
			<% if @terapeuta.plan_tipo == "Gratis" or is_plan_expira(@terapeuta.plan_expira) %>
				<div class="ver-ficha-persona ficha-simple">
			<% else %>
				<div class="ver-ficha-persona">
			<% end %>
			<% if @terapeuta.imagen_url.length != 0 %>
				<div class="foto"><%= image_tag @terapeuta.imagen_url.terapeuta_thumb.url.to_s %></div>
			<% else %>
				<div class="foto"><%= image_tag 'img/terapeuta_thumb_perfil-default.png'%></div>
			<% end %>
			
			<div class="contenido-ficha">
				
				<p class="nombre-ficha"><%= @terapeuta.nombre %></p>
				<p>
					<% @terapeuta.tipo_terapias.each do |tt| %>
						<%= tt.nombre %> - 
					<% end %><br />
					Especialista en 
					<% @terapeuta.especialidades.each do |especialidad| %>
						<%= especialidad.valor %>,
					<% end %>
					</br>
					<%= @terapeuta.direccion %>, <%= @terapeuta.comuna %>, <%= @terapeuta.region %> 
				</p>
							<div class="ficha-columna">
								<h3>Información de experiencia y formación académica:</h3>
								<ul>
									<% if @terapeuta.enfoque != nil and @terapeuta.enfoque.length > 0 %><li><span><strong>Enfoque:</strong> <%= @terapeuta.enfoque %></span></li><% end %>
									<li><span><strong>Especialidades:</strong><br />
											<% @terapeuta.especialidades.each do |especialidad| %>
											&nbsp;&nbsp;&nbsp;- <%= especialidad.valor %><br />
											<% end %>
										</span></li>
									<li><span><strong>Formación y Estudios Acreditados:</strong><br />
											<% @terapeuta.estudios.each do |estudio| %>
											&nbsp;&nbsp;&nbsp;- <%= estudio.titulo %>, <%= estudio.establecimiento %><br />
											<% end %>
										</span></li>
								</ul>
								
								<% if !(@terapeuta.plan_tipo == "Gratis" or is_plan_expira(@terapeuta.plan_expira)) %>
								<h3>Costo y formas de pago:</h3>
								<ul>
									<li><span><strong>Arancel por sesión:</strong> <%= @terapeuta.arancel %>.-</span></li>
									<% if @terapeuta.descuentos.length > 0 %><li><span><strong>Descuentos usuarios BuscoTerapia:</strong> <%= @terapeuta.descuentos %>.-</span></li><% end %>
									<% if @terapeuta.convenios.size > 0 %>
									<li><span><strong>Convenios:</strong><br />
											<% @terapeuta.convenios.each do |convenio| %>
											&nbsp;&nbsp;&nbsp;- <%= convenio.valor %><br />
											<% end %>
										</span></li>
									<% end %>
									<li><span><strong>Formas de Pago:</strong> 
											<% @terapeuta.forma_pagos.each do |forma_pago| %>
												<%= forma_pago.valor %>, 
											<% end %> 
										</span></li>
								</ul>
								<% end %>
								
								<h3>Datos de Contacto:</h3>
								<ul>
									<li><span><strong>Dirección:</strong>
										<% if !(@terapeuta.plan_tipo == "Gratis" or is_plan_expira(@terapeuta.plan_expira)) %> 
										<%= @terapeuta.direccion %>, 
										<% end %>
										<%= @terapeuta.comuna %>, <%= @terapeuta.region %>.</span></li>
									<% if !(@terapeuta.plan_tipo == "Gratis" or is_plan_expira(@terapeuta.plan_expira)) %>
									<li><span><strong>Teléfonos de contacto:</strong> <%= @terapeuta.telefono %></span></li>
									<li><span><strong>Correo electrónico:</strong> <%= @terapeuta.email %></span></li> 
									<% end %>
									<% if @terapeuta.sitio_web.length > 0 %><li><span><strong>Sitio web:</strong> <%= link_to @terapeuta.sitio_web, "http://"+@terapeuta.sitio_web, :rel => "nofollow", :target => "_blank" %></span></li><% end %>
								</ul>
								
								<% if @contacto %>
								<input type="button" value="Contactar al Terapeuta" class="boton-morado" id="boton-contactar-terapeuta" />
								<% end %>
								
							</div><!-- ficha-columna -->
							<div class="ficha-sidebar">
								<% if !(@terapeuta.plan_tipo == "Gratis" or is_plan_expira(@terapeuta.plan_expira)) %>
								<div class="box box-mapa">
									<h3>Mapa de Ubicación</h3>
									<div class="map-container">
										<div class="map-box">
											<%= image_tag "http://maps.google.com/maps/api/staticmap?size=615x350&sensor=true&zoom=15&markers=#{@terapeuta.latitude}%2C#{@terapeuta.longitude}", :class => "link-mapa-google" %>
										</div>
									</div>
								</div>
								<% end %>
							</div><!-- ficha-sidebar -->
					</div><!--descirpcion full-->
					</div><!--contenido ficha-->
				</div><!--ficha persona-->
				<div class="articulo-volver"><%= link_to '<< Volver', edit_terapeuta_path(session[:terapeuta]) %></div>
			</div>
		</div>
	</div>
</div>
