<div id="block-content" class="block-wrapper">
	<div class="wrapper" id="content">

	<div class="columna-670-left">
		<div class="busqueda-box-center">
			<div class="ver-ficha-persona">
			<% if @terapeuta.imagen_url.length != 0 %>
				<div class="foto"><%= image_tag @terapeuta.imagen_url.terapeuta_thumb.url.to_s %></div>
			<% else %>
				<img src="http://fpoimg.com/42x42" alt="Esteban Soto" width="42" height="42" border="0" 
			<% end %>
			
			<div class="contenido-ficha">
				
				<p class="nombre-ficha"><%= @terapeuta.nombre %></p>
				<p>
					<% @terapeuta.estudios.each do |estudio| %>
						<strong><%= estudio.titulo %>, <%= estudio.establecimiento %></strong><br/>
					<% end %>
					Especialista en 
					</br>
					<%= @terapeuta.direccion %>, <%= Comuna.find(@terapeuta.comuna).nombre %>, <%= Region.find(@terapeuta.region).nombre %> 
				</p>
							<div class="ficha-columna">
								<h3>Información de experiencia y formación académica:</h3>
								<ul>
									<li><span><strong>Especialidades:</strong><br />
											<% @terapeuta.especialidades.each do |especialidad| %>
											&nbsp;&nbsp;&nbsp;- <%= especialidad.valor %><br />
											<% end %>
										</span></li>
									<li><span><strong>Formación y Estudios Acreditados:</strong><br />
											<% @terapeuta.estudios.each do |estudio| %>
											&nbsp;&nbsp;&nbsp;- <%= estudio.titulo %>, <%= estudio.establecimiento %><br />
											<% end %>
										</span></li>
								</ul>
								
								<h3>Costo y formas de pago:</h3>
								<ul>
									<li><span><strong>Arancel por sesión:</strong> <%= @terapeuta.arancel %>.-</span></li>
									<li><span><strong>Convenios:</strong><br />
											<% @terapeuta.convenios.each do |convenio| %>
											&nbsp;&nbsp;&nbsp;- <%= convenio.valor %><br />
											<% end %>
										</span></li>
									<li><span><strong>Descuentos:</strong> <%= @terapeuta.descuentos %>.-</span></li>
									<li><span><strong>Formas de Pago:</strong> 
											<% @terapeuta.forma_pagos.each do |forma_pago| %>
												<%= forma_pago.valor %>, 
											<% end %> 
										</span></li>
								</ul>
								
								<h3>Datos de Contacto:</h3>
								<ul>
									<li><span><strong>Dirección:</strong> <%= @terapeuta.direccion %>, <%= Comuna.find(@terapeuta.comuna).nombre %>, <%= Region.find(@terapeuta.region).nombre %>.</span></li>
									<li><span><strong>Teléfonos de contacto:</strong> <%= @terapeuta.telefono %></span></li>
									<li><span><strong>Correo electrónico:</strong> <%= @terapeuta.email %></span></li> 
									<li><span><strong>Sitio web:</strong> <%= link_to @terapeuta.sitio_web, "http://"+@terapeuta.sitio_web, :target => "_blank" %></span></li>
								</ul>
								
							</div><!-- ficha-columna -->
							<div class="ficha-sidebar">
								<div class="box box-descuentos">
								<div class="box box-mapa">
									<h3>Mapa de Ubicación</h3>
									<div class="map-container">
										<%= image_tag "http://maps.google.com/maps/api/staticmap?size=151x182&sensor=true&zoom=15&markers=#{@terapeuta.latitude}%2C#{@terapeuta.longitude}", :class => "link-mapa-google" %>
									</div>
									
								</div>

							</div><!-- ficha-sidebar -->
					</div><!--descirpcion full-->
					</div><!--contenido ficha-->
				</div><!--ficha persona-->
			</div>
		</div>
	</div>
</div>
