<%= form_for @asesoria do |f| %>	
	<div id="block-content" class="block-wrapper">
		<div class="wrapper" id="content">

		<div class="columna-670-left">
			<h2>Ingresa los siguientes datos para soliticar aseroría terpéutica</h2>
			<div class="etapas <%= @asesoria.current_step == "miproblema" ? "etapa_1" : "etapa_2" %>"> <!-- varia entre clases: etapa_1, etapa_2, etapa_3 -->
				<hr class="linea_etapas"/>
				<div class="etapa icon_etapa_1">
						<span class="number">1</span>
						<span class="label">Mi problema</span>
				</div>
				<div class="etapa icon_etapa_2">
					<span class="number">2</span>
					<span class="label">Datos de contacto</span>
				</div>
				<div class="etapa icon_etapa_3">
					<span class="number">3</span>
					<span class="label">Comprobante</span>
				</div>
			</div>
			
			
			<%= render "#{@asesoria.current_step}_step", :f => f %>
			
					<div class="form-block">
						<% if @asesoria.current_step == "miproblema" %>
							<%= f.submit "Siguiente paso", :class => "boton-morado" %>
						<% else %>
							<%= f.submit "Enviar", :class => "boton-morado", :disable_with => "Procesando..." %>
						<% end %>
					</div>
				</div>
			</div>
		</div>
<% end %>
		
		<%= render "home/preguntas_frecuentes" %>
		
		</div><!-- #content -->
	</div><!-- block-content -->