<%= hidden_field_tag :step, "misdatos" %>
<h1>Ahora danos tus datos de contacto para comunicarnos 
contigo. </h1>
<h2><small>También puedes darnos algunos datos extras 
para facilitar la búsqueda de tu terapeuta.</small></h2>
<h2>&nbsp;</h2>

<div class="form-box-center">

<!-- Datos principales de quienes asistirán a terapia -->

<div class="form-box">
	<div class="titulo-form">
	<h3>Datos principales de quienes asistirán a terapia</h3>
	<p class="aviso">(* respuesta necesaria)</p>
	</div>
	<div class="form-block one-line">
		<div class="label"><span class="aviso">*</span> Nombre</div>
		<div class="input_field">
			<%= f.text_field :paciente_nombre %>
			<!-- mensaje aparece solo cuando no completó -->
		</div>
	</div>
	<div class="form-block one-line">
		<div class="label">Edad</div>
		<div class="input_field">
			<%= f.number_field :paciente_edad %>

		</div>
	</div>
	<div class="form-block one-line">
		<div class="label"><span class="aviso">*</span> Esta terapia es para:</div>
		<div class="input_field">
			<%= f.collection_select :terapia_para, RefDatum.where(:nombre => "Terapia es para"), :valor, :valor %>
			<!-- mensaje aparece solo cuando no completó -->
			<!-- / -->
		</div>
	</div>
	<div class="form-block one-line">
		<div class="label">Tipo de terapia</div>
		<div class="input_field">
			<%= f.collection_select :terapia_tipo, RefDatum.where(:nombre => "Tipo Terapeuta"), :valor, :valor %>
		</div>
	</div>

</div>

<!-- Datos de contacto -->

<div class="form-box">
	<div class="titulo-form">
	<h3>Datos de contacto</h3>
	</div>
	<div class="form-block one-line ">
		<div class="label"><span class="aviso">*</span> Teléfono de contacto:</div>
		<div class="input_field">
			<%= f.text_field :paciente_telefono %>
		</div>
	</div>
	
	<div class="form-block one-line">
		<div class="label"><span class="aviso">*</span> E-mail</div>
		<div class="input_field">
			<%= f.text_field :paciente_email %>
			<!-- acá mensaje alerta -->
		</div>
	</div>
</div>

<!-- Preferencias de atención -->

<div class="form-box">
	<div class="titulo-form">
	<h3>Preferencias de atención</h3>
	</div>
	<div class="form-block">
		<div class="label">
			Lugar preferente de atención<br/>
			<small>Se lo mas específico/a posible para recomendarte terapeutas que te sean cercanos.</small>
		</div>
		<div class="input_field">
			<input type="text" />
		</div>
	</div>
	<div class="form-block horarios-form">
		<div class="label">
			Día preferente de atención:
		</div>
		<div class="form-block one-line">
			<div class="label"></div>
			<div class="input_field">
				<% for dia_atencion in @dias_atencion %>
					<% if params[:tipo_terapia_ids] != nil %>
						<%= check_box_tag "dia_atencion_ids[]", dia_atencion.valor, params[:tipo_terapia_ids].include?(dia_atencion.valor) %>
					<% else %>
						<%= check_box_tag "dia_atencion_ids[]", dia_atencion.valor, contains_dia_atencion(@asesoria.id, dia_atencion) %>
					<% end %>
					<%= dia_atencion.valor %><br />
				<% end %><br />
			</div>
		</div>
	</div>	
	<div class="form-block horarios-form">

	
		<div class="label">
			Fecha estimativa:
		</div>
		


		<div class="form-block one-line">
			<div class="label">Desde: </div>
			<div class="input_field">
				<%= f.text_field :hora_desde %>

			</div>
		</div>
		<div class="form-block one-line">
			<div class="label">Hasta: </div>
			<div class="input_field">
				<%= f.text_field :hora_hasta %>

			</div>
		</div>
	</div>
	
	<div class="form-block">
		<div class="label">
			Otro:<br/>
			<small>Puedes escribir algún otro aspecto que te parezca relevante mencionar</small>
		</div>
		<div class="input_field">
			<%= f.text_area :terapeuta_otro, :class => "area_small" %>
		</div>
	</div>