<%= hidden_field_tag :step, "misdatos" %>
<h1>Ahora danos tus datos de contacto para comunicarnos 
contigo. </h1>
<h2><small>También puedes darnos algunos datos extras 
para facilitar la búsqueda de tu terapeuta.</small></h2>
<h2>&nbsp;</h2>

<div class="form-box-center">

<!-- Datos principales de quienes asistirán a terapia -->

<div class="form-box">
	<div class="titulo-form">
	<h3>Datos principales de quienes asistirán a terapia</h3>
	<p class="message">(* respuesta necesaria)</p>
	</div>
	<div class="form-block one-line">
		<div class="label"><span class="message">*</span> Nombre</div>
		<div class="input_field">
			<%= f.text_field :paciente_nombre %>
			<!-- mensaje aparece solo cuando no completó -->
		</div>
	</div>
	<div class="form-block one-line">
		<div class="label"><span class="message">*</span> Edad</div>
		<div class="input_field">
			<%= f.number_field :paciente_edad %>

		</div>
	</div>
	<div class="form-block one-line">
		<div class="label"><span class="message">*</span> Esta terapia es para:</div>
		<div class="input_field">
			<%= f.collection_select :terapia_para, RefDatum.where(:nombre => "Terapia es para"), :valor, :valor %>
			<!-- mensaje aparece solo cuando no completó -->
			<!-- / -->
		</div>
	</div>
	<div class="form-block one-line">
		<div class="label">Tipo de terapia</div>
		<div class="input_field">
			<%= f.collection_select :terapia_tipo, RefDatum.where(:nombre => "Tipo Terapeuta"), :valor, :valor, :prompt => "No lo tengo claro" %>
		</div>
	</div>

</div>

<!-- Datos de contacto -->

<div class="form-box">
	<div class="titulo-form">
	<h3>Datos de contacto</h3>
	</div>
	<div class="form-block one-line ">
		<div class="label"><span class="message">*</span> Teléfono de contacto:</div>
		<div class="input_field">
			<%= f.text_field :paciente_telefono %>
		</div>
	</div>
	
	<div class="form-block one-line">
		<div class="label"><span class="message">*</span> E-mail</div>
		<div class="input_field">
			<%= f.text_field :paciente_email %>
			<!-- acá mensaje alerta -->
		</div>
	</div>
</div>

<!-- Preferencias de atención -->

<div class="form-box">
	<div class="titulo-form">
	<h3>Preferencias de atención</h3>
	</div>
	<div class="form-block">
		<div class="label">
			<span class="message">*</span> Lugar preferente de atención<br/>
			<small>Se lo mas específico/a posible para recomendarte terapeutas que te sean cercanos.</small>
		</div>
		<div class="input_field">
			<%= f.text_field :lugar_preferencia %>
		</div>
	</div>
	
	<div class="form-block horarios-form">
		<div class="label">
			Día preferente de atención:
		</div>
	</div>
	
	<div class="form-block one-line listaDias">
		<div class="columna30">
		<% for dia_atencion in @dias_atencion %>
			<% if params[:tipo_terapia_ids] != nil %>
				<%= check_box_tag "dia_atencion_ids[]", dia_atencion.valor, params[:tipo_terapia_ids].include?(dia_atencion.valor) %>
			<% else %>
				<%= check_box_tag "dia_atencion_ids[]", dia_atencion.valor, contains_dia_atencion(@asesoria.id, dia_atencion) %>
			<% end %>
			<span><%= dia_atencion.valor %></span><br />
			<% if dia_atencion.valor == "Miércoles" %>
				</div>
				<div class="columna30">
			<% elsif dia_atencion.valor == "Viernes" %>
				</div>
				<div class="columna30 lastChild">
			<% end %>
		<% end %>
		</div>
	</div>	
	<div class="form-block horarios-form">

	
		<div class="label">
			Horario preferente:
		</div>
		


		<div class="form-block one-line">
			<div class="label">Desde: </div>
			<div class="input_field">
				<%= f.collection_select :hora_desde, RefDatum.where(:nombre => "Hora Asesoria"), :valor, :valor, :prompt => "Seleccione horario" %>
			</div>
		</div>
		<div class="form-block one-line">
			<div class="label">Hasta: </div>
			<div class="input_field">
				<%= f.collection_select :hora_hasta, RefDatum.where(:nombre => "Hora Asesoria"), :valor, :valor, :prompt => "Seleccione horario" %>
			</div>
		</div>
	</div>
	<p>&nbsp;</p>
	<div class="form-block">
		<h3>
			Otro:
		</h3>
			<small>Puedes escribir algún otro aspecto que te parezca relevante mencionar</small>
		</div>
		<div class="input_field">
			<%= f.text_area :terapeuta_otro, :class => "area_small" %>
		</div>
	</div>