<div id="block-content" class="block-wrapper">
	<div class="wrapper" id="content">

	<div class="columna-670-left">
		<div class="busqueda-box-center">
		
			<div class="form-box form-perfil">
				<div class="mi-perfil">
				
				<div class="form-block one-line">
				<div class="label">1. ¿Por qué necesitas una terapia? </div>
				<div class="input_field">
	  				<%= @asesoria.necesidad_1 %>
	  			</div>
	  			</div>
	  			
	  			<div class="form-block one-line">
				<div class="label">2. ¿Cómo te imaginas tu terapia? </div>
				<div class="input_field">
	  				<%= @asesoria.necesidad_2 %>
	  			</div>
	  			</div>
	  			
	  			<div class="form-block one-line">
				<div class="label">Nombre paciente </div>
				<div class="input_field">
	  				<%= @asesoria.paciente_nombre %>
	  			</div>
	  			</div>
	  			
	  			<div class="form-block one-line">
				<div class="label">Edad</div>
				<div class="input_field">
	  				<%= @asesoria.paciente_edad %>
	  			</div>
	  			</div>
	  			
	  			<div class="form-block one-line">
				<div class="label">Esta terapia es para: </div>
				<div class="input_field">
	  				<%= @asesoria.terapia_para %>
	  			</div>
	  			</div>
	  			
	  			<div class="form-block one-line">
				<div class="label">Tipo de terapia </div>
				<div class="input_field">
	  				<%= @asesoria.terapia_tipo %>
	  			</div>
	  			</div>
	  			
	  			<div class="form-block one-line">
				<div class="label">Teléfono de contacto: </div>
				<div class="input_field">
	  				<%= @asesoria.paciente_telefono %>
	  			</div>
	  			</div>
	  			
	  			<div class="form-block one-line">
				<div class="label">Email: </div>
				<div class="input_field">
	  				<%= @asesoria.paciente_email %>
	  			</div>
	  			</div>
	  			
	  			<div class="form-block one-line">
				<div class="label">Lugar de preferencia </div>
				<div class="input_field">
	  				<%= @asesoria.lugar_preferencia %>
	  			</div>
	  			</div>
	  			
	  			<div class="form-block one-line">
				<div class="label">Dia preferente de atencion </div>
				<div class="input_field">
	  				<% @asesoria.dias_atencion.each do |dia_atencion| %> <%= dia_atencion.dia %>, <% end %>
	  			</div>
	  			</div>
	  			
	  			<div class="form-block one-line">
				<div class="label">Horario preferente </div>
				<div class="input_field">
	  				<%= @asesoria.hora_desde %> --> <%= @asesoria.hora_hasta %>
	  			</div>
	  			</div>
	  			
	  			<div class="form-block one-line">
				<div class="label">Algún otro aspecto que te parezca relevante mencionar </div>
				<div class="input_field">
	  				<%= @asesoria.terapeuta_otro %>
	  			</div>
	  			</div>
	  			
			</div>
		</div>
		</div>
	</div>
	</div>
</div>