<h1>Listing pagos</h1>

<table>
  <tr>
    <th>Terapeuta</th>
    <th>Tipo</th>
    <th>Monto</th>
    <th>Estado</th>
    <th>Fecha pago</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @pagos.each do |pago| %>
  <tr>
    <td><%= pago.terapeuta_id %></td>
    <td><%= pago.tipo %></td>
    <td><%= pago.monto %></td>
    <td><%= pago.estado %></td>
    <td><%= pago.fecha_pago %></td>
    <td><%= link_to 'Show', pago %></td>
    <td><%= link_to 'Edit', edit_pago_path(pago) %></td>
    <td><%= link_to 'Destroy', pago, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Pago', new_pago_path %>
