
<div id="block-content" class="block-wrapper">
	<div class="wrapper" id="content">

		<div class="columna-670-left">
			<div class="busqueda-box-center">
				<div class="form-box">
					<h3><%= link_to "Validar terapeuta", validar_terapeuta_index_path %></h3><br />
					
					<h3><%= link_to "Gestionar terapeutas", validar_terapeuta_todos_path %></h3><br />
					
					<h3><%= link_to "Ver disponibilidad terapeuta", ver_terapeutas_path %></h3><br />
					
					<h3><%= link_to "Ver pagos terapeutas", pagos_path %></h3><br />
					
					<h3><%= link_to "Crear nueva terapia", new_terapia_path %></h3><br />
					
					<h3><%= link_to "Crear articulo/noticia", new_articulo_path %></h3><br />
					
					<h3><%= link_to "Parametros del sistema", ref_data_path %></h3><br />
				</div>
			</div>
		</div>
	</div>	
</div>
