<h2>Terapeutas por validar</h2>
<br />

<% @terapeutas.each do |terapeuta| %>
	Nombre: <%= terapeuta.nombre %> <br />
	Rut: <%= terapeuta.rut %> <br />
	Email: <%= terapeuta.email %>
	Telefono: <%= terapeuta.ptelefono %>-<%= terapeuta.telefono %>
	<%= link_to 'validar', revisar_terapeuta_path(terapeuta) %>
<% end %>
