<div id="block-content" class="block-wrapper">
	<div class="wrapper" id="content">

	<div class="columna-670-left">
		<div class="busqueda-box-center">
		<h2>Terapeutas</h2>
		<p>
		<%= form_tag validar_terapeuta_todos_path, :method => 'get' do%>
			<%= text_field_tag :search, params[:search] %>
			<%= submit_tag "Buscar"  %>
		<% end %>
		</p>
			<div class="form-box form-perfil">
			
			<% @terapeutas.each do |terapeuta| %>
				Nombre: <%= terapeuta.nombre %> <br />
				Rut: <%= terapeuta.rut %> <br />
				Email: <%= terapeuta.email %>
				Telefono: <%= terapeuta.ptelefono %>-<%= terapeuta.telefono %>
				<%= link_to 'ver/modificar', editar_terapeuta_path(terapeuta) %> |
				<%= link_to 'dar de baja', destroy_terapeuta_path(terapeuta), :confirm => "Esta acción dará de baja al terapeuta pero seguirá permaneciendo en la base de terapeutas sin poder ser encontrado por el buscador de la página.  ¿Seguro desea continuar?" %> 
				<%= link_to 'eliminar', destroy_terapeuta_path(terapeuta), :confirm => "Esto eliminará terapeuta de manera permanente.  ¿Seguro desea continuar?" %><br /><br />
			<% end %>
			</div>
		</div>
	</div>
	</div>
</div>
