<div id="block-content" class="block-wrapper">
	<div class="wrapper" id="content">

		<div class="columna-670-left">
			<div class="busqueda-box-center">
				<div id="event-form" class="form-box" style = "display:none;">
					<%= form_tag bo_crear_disponibilidad_path do |f| %>
					<%= hidden_field_tag :terapeuta, @terapeuta %>
					<div id="close-event" class="link-cerrar-mensaje">
						<p>x cerrar</p>
					</div>
					<div class="form-block event-field">
					  <div class="label">Fecha:</div> 
					  <div class="input_field"><%= text_field_tag :fecha_evento %></div>
					</div>  
					<div class="form-block event-field">
					  <div class="label">Desde:</div>
					  <div class="input_field"><%= text_field_tag :hora_desde %></div>
					</div>
					<div class="form-block event-field">
					  <div class="label">Hasta:</div>
					  <div class="input_field"><%= text_field_tag :hora_hasta %></div>
					</div>
					<div class="form-block checkbox-field">
					  <div class="label">¿Recurrente?</div>
					  <div class="label check-recurrent"><%= check_box_tag "recurrente", 1, true %> Si</div>
					</div>
					<div class="input_field">
					  <%= submit_tag "Registrar disponibilidad", :class => "boton-azul" %>
					</div>
					<% end %>
				</div>
				<div id="create-event" class="boton-volver">
					<p><a href="#"><strong>Registrar disponibilidad</strong></a></p>
				</div><!-- login -->
				<div class="form-box">
					<div id="terapeuta_id" style = "display:none;"><%= @terapeuta %></div>
					<div id='calendar'></div>
				</div>
			</div>
		</div>
	</div>	
</div>
