		<div id="busca_tu_terapeuta">
			<h2>Busca tu terapeuta</h2>
			
			<ul class="tabs">
				<li class="active tab1"><a href="#tab1" class="psicologos">Terapias Psicológicas</a></li>
				<li class="tab2"><a href="#tab2" class="terapia_alternativa">Terapias Alternativas / Complementarias</a></li>
			</ul>
			<div class="tab_container">
				<div id="tab1" class="tab_content" style="display: block; ">
					<%= form_for @search, :action => "index", :controller => "terapeuta" do |f| %>
						<div class="form-block">
							<div class="label">Terapeuta:</div>
							<div class="input_field">
								<%= f.collection_select :tipo_terapias_nombre_contains, RefDatum.where(:nombre => "Tipo Terapeuta"), :valor, :valor, :prompt => "No lo tengo claro" %>
							</div>
						</div>
						<div class="form-block">
							<div class="buscador-columna-left">
								<div class="label">Región:</div>
								<div class="input_field">
									<%= f.collection_select :region_contains, Region.order(:id), :id, :nombre, {include_blank: true}, :class => "psicologo_region" %>
								</div>
							</div>
							<div class="buscador-columna-right">
								<div class="label">Comuna:</div>
								<div class="input_field">
									<%= f.grouped_collection_select :comuna_contains, Region.order(:id), :comunas, :nombre, :id, :nombre, {include_blank: true}, :class => "psicologo_comuna" %>
								</div>
							</div>
						</div>
						<div class="form-block">
							<div class="label">Palabras claves:<br/><small>Ejemplo: separación, duelo, ansiedad, crisis de pánico</small></div>
							<div class="input_field">
								<%= f.text_field :especialidades_valor_contains %>
							</div>
						</div>
						<div class="form-block">
							<%= f.submit "Buscar", :class => "boton-morado" %>
						</div>
					<% end %>
				</div><!-- tab 1 -->
	
				<div id="tab2" class="tab_content" style="display: none; ">
					<%= form_for @search, :action => "index", :controller => "terapeuta" do |f| %>
			  		<%= f.hidden_field :tipo_terapias_nombre_contains, :value => "Complementario / Alternativo" %>
						<div class="form-block">
							<div class="label">Palabras claves:</div>
							<div class="input_field">
								<%= f.text_field :tipo_terapias_nombre_or_especialidades_valor_contains %>
							</div>
						</div>
						<div class="form-block">
							<div class="label">Ciudad de Atención:</div>
							<div class="input_field">
								<%= f.collection_select :region_contains, Region.order(:id), :id, :nombre, {include_blank: true}, :class => "alternativo_region" %>
							</div>
						</div>
						<div class="form-block">
							<div class="label">Comuna:</div>
							<div class="input_field">
								<%= f.grouped_collection_select :comuna_contains, Region.order(:id), :comunas, :nombre, :id, :nombre, {include_blank: true}, :class => "alternativo_comuna" %>
							</div>
						</div>
						<div class="form-block">
							<%= f.submit "Buscar terapia", :class => "boton-morado" %>
						</div>
					<% end %>
				</div><!-- tab 2 -->
				

			</div><!-- tab_container -->
			
		</div><!-- busca_tu_terapeuta -->