		<div id="busca_tu_terapeuta">
			<h2>Busca tu terapeuta</h2>
			
			<ul class="tabs">
				<li class="active tab1"><a href="#tab1" class="psicologos">Terapias Psicológicas</a></li>
				<li class="tab2"><a href="#tab2" class="terapia_alternativa">Terapias Alternativas / Complementarias</a></li>
			</ul>
			<div class="tab_container">
				<div id="tab1" class="tab_content" style="display: block; ">
					<%= form_tag terapeutas_path, method: :get do %>
						<div class="form-block">
							<div class="label">Tipo de terapia:</div>
							<div class="input_field">
								<%= collection_select :form, :tipo_terapeuta, RefDatum.where(:nombre => "Especialidad"), :valor, :valor, :prompt => "No lo tengo claro" %>
							</div>
						</div>
						<div class="form-block">
							<div class="buscador-columna-left">
								<div class="label">Región:</div>
								<div class="input_field">
									<%= collection_select :form, :region, Region.order(:id), :nombre, :nombre, {include_blank: true}, :class => "psicologo_region" %>
								</div>
							</div>
							<div class="buscador-columna-right">
								<div class="label">Comuna:</div>
								<div class="input_field">
									<%= grouped_collection_select :form, :comuna, Region.order(:id), :comunas, :nombre, :nombre, :nombre, {include_blank: true}, :class => "psicologo_comuna" %>
								</div>
							</div>
						</div>
						<div class="form-block">
							<div class="label">Palabras claves:<br/><small>Ejemplo: separación, duelo, ansiedad, crisis de pánico</small></div>
							<div class="input_field">
								<%= text_field_tag :search, params[:search] %>
							</div>
						</div>
						<div class="form-block">
							<%= submit_tag "Buscar", :class => "boton-morado" %>
						</div>
					<% end %>
				</div><!-- tab 1 -->
	
				<div id="tab2" class="tab_content" style="display: none; ">
					<%= form_tag terapeutas_path, method: :get do %>
			  		<%= hidden_field_tag :alternativo, :value => "Complementario / Alternativo" %>
						<div class="form-block">
							<div class="label">Palabras claves:<br/><small>Ejemplo: energéticas, masajes, flores.</small></div>
							<div class="input_field">
								<%= text_field_tag :search, params[:search] %>
							</div>
						</div>
						<div class="form-block">
							<div class="label">Ciudad de Atención:</div>
							<div class="input_field">
								<%= collection_select :form, :region, Region.order(:id), :nombre, :nombre, {include_blank: true}, :class => "alternativo_region" %>
							</div>
						</div>
						<div class="form-block">
							<div class="label">Comuna:</div>
							<div class="input_field">
								<%= grouped_collection_select :form, :comuna, Region.order(:id), :comunas, :nombre, :nombre, :nombre, {include_blank: true}, :class => "alternativo_comuna" %>
							</div>
						</div>
						<div class="form-block">
							<%= submit_tag "Buscar Terapia", :class => "boton-morado" %>
						</div>
					<% end %>
				</div><!-- tab 2 -->
				

			</div><!-- tab_container -->
			
		</div><!-- busca_tu_terapeuta -->