<div id="block-mensaje" class="block-wrapper">
	<div class="wrapper">
		<div id="mensaje-top">
			<div class="boton-cerrar-mensaje" obj="#block-mensaje">cerrar X</div>
			<div class="mensaje-titulo">
			<p>Buscoterapia te ofrece de manera gratuita el más amplio y completo servicio de búsqueda de terapias y terapeutas a nivel nacional.</p>
			</div>
			<div class="mensaje-texto">
			<p>Brindamos sin costo el servicio de <strong>Asesoría Terapéutica</strong>, donde un equipo de <strong>profesionales de la Salud Mental</strong> te <strong>ayudará en línea</strong> a encontrar la terapia y el terapeuta que más se ajuste a tus necesidades, de manera <strong>confiable</strong> y <strong>estrictamente confidencial</strong>. </p>
			<p>No te preocupes más, <strong>estás en buenas manos</strong>. </p>
			</div>
		</div>
	</div>
</div><!-- block-mensaje -->

<div id="block-content" class="block-wrapper">
	<div class="wrapper" id="content">
		<div id="asesoria_terapeutas" class="col_8">
			<div class="texto-asesoria">
				<h2>Asesoría Terapéutica</h2>
				<h1>Encuentra la ayuda que necesitas</h1>
				<p>Ingresa en <strong>dos pasos el problema que te aqueja</strong> o la solución que buscas y serás asesorado por nuestro equipo de especialistas en terapias. Ellos te entregarán las mejores alternativas de nuestra red de especialistas para que <strong>en menos de 90 minutos tengas agendada una cita con un terapeuta</strong> que se ajuste a tus necesidades y expectativas.</p>
				<p><strong>Este proceso es absolutamente confidencial y gratuito.</strong></p>
				<%= button_to "Solicitar Asesoría", new_asesoria_path, :method => 'get', :id => "boton-solicita-home",:class => "boton-morado"%>
			</div>
		</div><!-- asesoria_terapeutas -->
		
		<%= render 'search_form' %>
		<div class="clear"></div>
	</div><!-- #content -->
</div><!-- block-content -->

<div id="block-destacados_del_dia" class="block-wrapper">
	<div class="wrapper">
	
	<div id="destacados_del_dia" class="col_12 infiniteCarousel">
		<h2>Destacados de la semana</h2>
	
		<div class="wrapper_carousel">
		<ul>
			<% @articulos.each do |articulo| %>
			<li>
				<div class="bg-color">
				<%= image_tag articulo.imagen_url.carusel_thumb.url.to_s %>
				<h3><a href="#"><%= articulo.titulo %></a></h3>
				<p>
					<%= articulo.contenido[1,170 ]%>								 
					... <%= link_to 'Ver más', articulo_path(articulo) %>.</a>
				</p>
				</div>
			</li><!-- noticias -->
			<% end %>
		</ul>
		</div><!-- wrapper_carrousel -->
		<!-- <a class="arrow back">&lt;</a>
		<a class="arrow forward">&gt;</a>	-->	
		</div><!-- destacados_del_dia -->
	<div class="clear"></div>
	</div><!-- wrapper - destacados_del_dia -->

</div><!-- block-wrapper -->