<!--
<div id="block-mensaje" class="block-wrapper">
	<div class="wrapper">
		<div id="mensaje-top">
			<div class="boton-cerrar-mensaje" obj="#block-mensaje">cerrar X</div>
			<div class="mensaje-titulo">
			<p>Nuestro equipo de profesionales te ofrece sin costo y en menos de 90 minutos la información necesaria para que elijas la terapia que sea más beneficiosa...</p>
			</div>
			<div class="mensaje-texto">
			<p><strong>Analizamos tu solicitud de manera confidencial, basándonos en los cientos de terapeutas de nuestro directorio, el más amplio y completo a nivel nacional.</strong></p>
			<p>También puedes utilizar nuestro buscador de terapias y terapeutas para que te informes personalmente.</p>
			</div>
		</div>
	</div>
</div>
-->
<!-- block-mensaje -->


<div id="block-content" class="block-wrapper">
	<div class="wrapper" id="content">
		<div id="asesoria_terapeutas" class="col_8">
			<div class="texto-asesoria">
				<h2>Asesoría Terapéutica</h2>
				<h1>Asesórate por nuestro equipo</h1>
				<p>Ingresa <strong>en sólo dos pasos</strong> el problema que te aqueja o la solución que buscas y serás asesorado por nuestro equipo de especialistas en terapias.</p>
				<p>Ellos realizarán una búsqueda exhaustiva para informarte de  las mejores alternativas dentro de nuestra red de especialistas, la más amplia y completa a nivel nacional.</p>
				<%= button_to "Solicitar Asesoría", new_asesoria_path, :method => 'get', :id => "boton-solicita-home",:class => "boton-morado"%>
			</div>
		</div><!-- asesoria_terapeutas -->
		
		<%= render 'search_form' %>
		<div class="clear"></div>
	</div><!-- #content -->
</div><!-- block-content -->

<div id="block-destacados_del_dia" class="block-wrapper">
	<div class="wrapper">
	
	<div id="destacados_del_dia" class="col_12 infiniteCarousel">
		<h2>Destacados de la semana</h2>
	
		<div class="wrapper_carousel">
		<ul>
			<% @articulos.each do |articulo| %>
			<li>
				<div class="bg-color">
				<%= image_tag articulo.imagen_url.carusel_thumb.url.to_s %>
				<h3><%= link_to articulo.titulo, articulo_path(articulo) %></h3>
				<p>
					<%= articulo.contenido[0,170 ]%>								 
					... <%= link_to 'Ver más', articulo_path(articulo) %>.</a>
				</p>
				</div>
			</li><!-- noticias -->
			<% end %>
		</ul>
		</div><!-- wrapper_carrousel -->
		<!-- <a class="arrow back">&lt;</a>
		<a class="arrow forward">&gt;</a>	-->	
		</div><!-- destacados_del_dia -->
	<div class="clear"></div>
	</div><!-- wrapper - destacados_del_dia -->

</div><!-- block-wrapper -->