	<div id="block-content" class="block-wrapper">
		<div class="wrapper" id="content">

			<div class="columna-one-full">
				
				<div class="qs-columna-miniaturas">
					<h2>Quienes somos</h2>
					<h3>Equipo de Coordinación</h3>
					<div id="eq-asesoria-minis"></div>
					<h3>Equipo de Soporte</h3>
					<div id="eq-coordinacion-minis"></div>
				</div>
				<div class="qs-columna-contenido">
					<div class="qs-ficha" id="equipo" >
						<h3>Nuestro proyecto, nuestro equipo, nuestros terapeutas.</h3>
						
						
						<p>
						El Proyecto Buscoterapia.cl nace de un cuestionamiento de sentido común: todos enfrentamos momentos difíciles en la vida y en ocasiones decidimos buscar ayuda con especialistas, pero ¿cómo elegir al adecuado?, ¿dónde comenzar a buscar? Una exploración a ciegas por las interminables instituciones de salud o profesionales particulares puede resultar abrumadora, nunca tendremos toda la información que necesitamos o esta puede estar en un lenguaje muy técnico como para llegar a tomar adecuadamente esta relevante decisión. 
						</p><p>
						Nuestro equipo se hace cargo de esta dificultad, construyendo la tribuna de terapias y terapeutas más grande y completa del país. Contamos con centenares de terapeutas que nos ayudan a construir este proyecto y que crecen en número día a día, de las más diversas disciplinas, con toda la información disponible para que las personas puedan hacer la mejor elección posible. ¿Costo por sesión?, ¿lugar de atención?, ¿especialidades? Toda esta información y más está en nuestro portal publicada de manera abierta y transparente. Basta que nos cuenten su problemática, sus expectativas, sus requerimientos de atención (lugar, hora, costo) y nuestro Equipo de Asesoría Terapéutica, de manera absolutamente confidencial, analizará y propondrá a quien lo solicite los terapeutas más idóneos y adecuados para cada caso específico. Esta ayuda <strong>no tiene costo para las personas</strong>. Extraño, pero cierto.  
						</p><p>
						Buscamos con esto, apoyar y guiar de manera honesta el rumbo de las personas que se sienten en problemas, democratizando, transparentando y centralizando la información sobre Salud Mental a nivel nacional de manera exhaustiva y confiable. Informamos de sus beneficios en sus Instituciones de previsión; posibilitamos, mediante espacios de descuentos y beneficios, que personas con dificultades económicas puedan acceder a servicios a veces incosteables; y los acercamos a temáticas de Salud Mental con su justa relevancia, sin patologizar ni desestimar. No menos importante, apoyamos la fuente laboral de terapeutas de manera justa, propiciamos un terreno donde construir redes profesionales y aportamos a que nuestra sociedad valore y confíe en las disciplinas de Salud Mental en Chile.
						</p><p>
						Ponemos las herramientas necesarias al servicio de todos los actores del Bienestar y Salud Mental en nuestro país. Son ellos, nosotros, tú quien decide. Esperamos que puedas tomar la mejor decisión posible. 
						</p>

						<%= image_tag 'img/grupal-2012.jpg'%>
					</div>
					<div class="qs-ficha"  id="mision">
						<h3>Misión</h3>
						<p>
						Nuestro proyecto aspira entregar un medio amable, completo y de calidad, que facilite a las personas acercarse a su propio estado de bienestar físico, psicológico y social. Para ello, recopilamos y sistematizamos la amplia variedad de prácticas terapéuticas vigentes en nuestro país, sin exclusión. Damos cabida tanto a prácticas terapéuticas convencionales como aquellas alternativas o complementarias, pues creemos que son las personas quienes deben decidir qué tipo de medidas o acciones emprender para abordar sus problemáticas. Lo anterior tiene correspondencia con los argumentos epistemológicos, teóricos y metodológicos que dan sustento a nuestra comprensión, que asume la imposibilidad de determinar la efectividad de las terapias en el ámbito de las Ciencias Sociales y Humanas. Una modalidad terapéutica, aplicada por un terapeuta en específico, con determinado consultante (paciente), es una conjunción única de variables, por lo cual una práctica puede resultarle útil para algún consultante (paciente) mientras podría resulta inefectiva para otro (ver los detalles de esta concepción en “Políticas de Funcionamiento de la Gestión Terapéutica”). 
						</p><p>
						Por ello, pretendemos entregar la mejor orientación y asesoría disponible a las personas, realizando un análisis específico para las necesidades, expectativas y requerimientos de todos y cada uno de aquellos que consultan a nuestro Equipo de Especialistas. Deseamos que puedan informarse de manera autónoma, entregando en un lenguaje sencillo los contenidos actuales de las Ciencias Sociales y Humanas.
						</p><p>
						Buscamos que los terapeutas que participan de nuestro proyecto, se sientan parte de él y nos ayuden a crecer. Proporcionamos beneficios especiales de formación académica (Congresos, Cursos, Talleres) contribuyendo a desarrollar su carrera profesional, y aportando con ello a la calidad de las disciplinas de Salud Mental en nuestro país. Aspiramos a construir una plataforma de redes profesionales, contribuyendo a formar relaciones que no dependan de la institución de formación, el capital cultural o sector socioeconómico, haciendo justicia respecto de las posibilidades laborales de nuestros profesionales.
						</p><p>
						Creemos que la tecnología disponible en la actualidad permite un medio confidencial, transparente, muy eficiente y cómodo donde instalar todas estas aspiraciones. Buscamos desplegar todas las herramientas tecnológicas al servicio de terapeutas y usuarios, de manera tal que el portal Buscoterapia.cl otorgue las funcionalidades más adecuadas para su misión y represente un sitio tan acogedor, honesto, confiable y transparente como lo son los principios, políticas y valores que guían nuestro proyecto. 
						</p>
					</div>
					<div class="qs-ficha"  id="vision">
						<h3>Visión</h3>
						<p>
						El Equipo Buscoterapia.cl comprende que gran parte de las problemáticas catalogadas como médicas o psicológicas, tiene causas sociales y políticas. Muchas de las inseguridades de nuestra sociedad, traducidas en las llamadas Crisis de Pánico, Fobias, Frustraciones propias de cuadros depresivos, u otros prevalentes “trastornos”, tienen origen en la incertidumbre de nuestros sistemas educativos, de salud, de previsión social u otros que debiesen estar garantizados por derecho. En una sociedad que privatiza desde lo material hasta lo mental, no es raro que concibamos nuestras angustias como problemas individuales, no es raro que busquemos la felicidad encerrando con rejas y sistemas de seguridad nuestras casas y bienes. Emerge así la inseguridad como fenómeno que escapa a la “delincuencia” y se instala en la inseguridad de no tener educación de calidad y accesible, un trabajo estable, un sistema de salud que nos atienda de manera gratuita y de calidad y un sistema previsional que nos permita descansar en paz cuando nuestras fuerzas físicas no nos acompañen. Estamos en una situación donde el “nosotros”, el sentido de pertenencia, de identidad, esta devastado. 
						</p><p>
						Al contrario, en una sociedad que comparte sus dificultades y genera soluciones locales y comunitarias, la necesidad de resguardo policial o de “seguridad ciudadana” es mínima, la pertenencia escapa los límites de lo privado y la seguridad emerge en los espacios públicos y grupales, las fobias, crisis, trastornos se difuminan como ondas en el agua. 
						</p><p>
						En los términos actuales que nos convocan, esto puede ejemplificarse en el alto cobro económico por abordar temáticas de Bienestar y Salud Mental y la baja cobertura de las instituciones de Previsión de Salud para estas atenciones. No considerar que una modalidad de terapia pueda costar una suma mensual impagable para un sueldo mínimo, desconoce la realidad nacional y su inequitativa distribución de ingresos. Con esto no queremos hacer un juicio de valor respecto de lo justo o no que resultan los costos de una terapia, sino simplemente destacar que existe un amplio sector de la población que, aun juzgando que necesita un abordaje especializado, queda excluida por factores económicos. Esto, sumado a la triste precariedad del sistema público de salud, se transforma simultáneamente en causa y consecuencia de inequidades viciosas que complejizan las ya considerables problemáticas psicosociales y psicológicas.
						</p><p>
						En este sentido, el Proyecto Buscoterapia.cl y su Equipo de Coordinación y Ejecución comprenden y aprueban acciones sociales y comunitarias a mediano y largo plazo para promover un estado de Bienestar y Salud Mental entre las personas de nuestra sociedad. De esta manera, el proyecto concibe operaciones futuras dedicadas directamente al abordaje local y social de estas problemáticas, generando proyectos paralelos que tengan sostén en la plataforma tecnológica actual, organizando iniciativas colectivas que tengan impacto tanto a nivel país como a nivel local.
						</p><p>
						Al nivel de crecimiento de nuestro proyecto, aspiramos a construir un colectivo de ciudadanos que velen por sus derechos y, especialmente, por sus garantías en cuanto a Salud Mental y Bienestar. Creemos que es responsabilidad de todos y cada uno hacer frente tanto a nuestras crisis individuales como a nuestras crisis sociales. Es en ellas, en las crisis, donde está la superación, el crecimiento, la lucha y la responsabilidad por cambiar las condiciones de nuestro sufrimiento. 
						</p>
					</div>
					<div class="qs-ficha"  id="colaboradores">
						<h3>Colaboradores</h3>
						<p>
						El proyecto Buscoterapia.cl se posiciona actualmente como la vitrina-buscador más grande y exhaustiva de terapeutas a nivel nacional. Con centenares de terapeutas suscritos, esperamos democratizar, centralizar y transparentar  la información respecto de las Terapias y Terapeutas de nuestro País en relación a principios valóricos, éticos y políticos definidos, con el objetivo final de transformar la realidad nacional de manera directa e indirecta a este proyecto.
						</p>
					</div>
					<div class="qs-ficha eq-asesoria"><!--no necesita id-->
						<div class="foto_persona">
							<%= image_tag 'img/creyes.jpg'%>
						</div>
						<h3>Claudio Reyes Vera</h3>
						<p><strong>Coordinador General Buscoterapia.cl</strong><br/>
						Psicólogo Universidad de Chile<br/></p>
						<p>Coordinador Centro de Atención y Asesoría PRACSIS<br />
						Programa Académico Equipo de Trabajo y Asesoría Sistémica<br/>
						Facultad de Ciencias Sociales. Universidad de Chile</p>
					</div>
					<div class="qs-ficha eq-asesoria">
						<div class="foto_persona">
							<%= image_tag 'img/ezuniga.jpg'%>
						</div>
						<h3>Esteban Encina Zúñiga</h3>
						<p><strong>Coordinador Ejecutivo Buscoterapia.cl</strong><br/>
						Psicólogo Comunitario-Clínico Universidad de Chile</p>
						<p>Programa de Tratamiento de Adicciones para Mujeres COSAM La Pintana. Programas Psicosociales<br/>
						Programa Académico Equipo de Trabajo y Asesoría Sistémica. Universidad de Chile<br />
						Diplomado de Postítulo en Psicoterapia Sistémica y Familiar.<br />
						Facultad de Ciencias Sociales. Universidad de Chile</p>
					</div>
					<div class="qs-ficha eq-asesoria">
						<div class="foto_persona">
							<%= image_tag 'img/nfuentes.jpg'%>
						</div>
						<h3>Nicolás Fuentes Pacheco</h3>
						<p><strong>Coordinador Contable Buscoterapia.cl</strong><br/>
						Ingeniero en Redes Universidad Tecnológica Inacap</p>
						<p>Technology Support at JPMorgan Chase<br/>
						Chile Banking<br />
						Voice and Data Network Support en JPMorgan Chase Education</p>
					</div>
					<div class="qs-ficha eq-asesoria">
						<div class="foto_persona">
							<%= image_tag 'img/mliu.jpg'%>
						</div>
						<h3>Mauricio Liu Chou</h3>
						<p><strong>Coordinador Tecnológico Buscoterapia.cl</strong><br/>
						Computer Science Information Engineering en Fu Jen Catholic University, Taipei, Taiwan<br />
						Master in Business Engineering. Universidad de Chile</p>
						<p>Global Market Research Technology at Merrill Lynch Chile</p>
					</div>
					<div class="qs-ficha eq-coordinacion">
						<div class="foto_persona">
							<%= image_tag 'img/dmartic.jpg'%>
						</div>
						<h3>Daniela Martic Guazzini</h3>
						<p><strong>Equipo de Asesoría y Gestión Terapéutica</strong><br/>
						Psicóloga Universidad de Chile</p>
						<p>Centro de Atención y Asesoría PRACSIS<br/>
						Programa Académico Equipo de Trabajo y Asesoría Sistémica Universidad de Chile<br />
						Diplomado en Psicoterapia Sistémica y Familiar<br />
						Facultad de Ciencias Sociales. Universidad de Chile</p>
					</div>
					<div class="qs-ficha eq-coordinacion">
						<div class="foto_persona">
							<%= image_tag 'img/muribe.jpg'%>
						</div>
						<h3>Muriel Uribe Contreras</h3>
						<p><strong>Equipo de Asesoría y Gestión Terapéutica</strong><br/>
						Psicóloga Educacional. Universidad Mayor</p>
						<p>Liceo Pedro Aguirre Cerda, Cerrillos</p>
					</div>
					<div class="qs-ficha eq-coordinacion">
						<div class="foto_persona">
							<%= image_tag 'img/eschilling.jpg'%>
						</div>
						<h3>Eduardo Schilling Montenegro</h3>
						<p><strong>Equipo de Asesoría y Gestión Terapéutica</strong><br/>
						Psicólogo Clínico. Universidad de Chile</p>
						<p>Programa de Salud Mental del Adulto. COSAM La Pintana. Programas Psicosociales.</p>
					</div>
					<div class="qs-ficha eq-coordinacion">
						<div class="foto_persona">
							<%= image_tag 'img/mcarrasco.jpg'%>
						</div>
						<h3>Mariana Carrasco Araya</h3>
						<p><strong>Equipo de Asesoría y Gestión Terapéutica</strong><br/>
						Psicóloga Clínica Infanto-Juvenil. Universidad Andrés Bello</p>
						<p>Magíster en Psicología Clínica. Universidad Andrés Bello.</p>
					</div>
					<div class="qs-ficha eq-coordinacion">
						<div class="foto_persona">
							<%= image_tag 'img/eencina.jpg'%>
						</div>
						<h3>Emilio Encina Zúñiga</h3>
						<p><strong>Equipo de Asesoría y Gestión Terapéutica</strong><br/>
						Estudiante 4° Medicina. Facultad de Medicina. Universidad de Chile</p>
						<p>Bachiller en Ciencias. Universidad de Chile.</p>
					</div>
					<div class="qs-ficha eq-coordinacion">
						<div class="foto_persona">
							<%= image_tag 'img/sreyes.jpg'%>
						</div>
						<h3>Susana Reyes Vera</h3>
						<p><strong>Equipo de Asesoría y Gestión Terapéutica</strong><br/>
						Masoterapeuta. Estilista.</p>
						<p>Instituto Profesional de Chile</p>
					</div>
				</div>
				<div class="qs-columna-masinfo">
					<h2>Más Información</h2>
					<ul class="lista-mas-info">
						<li><a onClick="abrirFicha('equipo')">Equipo 2012</a></li>
						<li><a onClick="abrirFicha('mision')">Misión</a></li>
						<li><a onClick="abrirFicha('vision')">Visión</a></li>
						<li><a onClick="abrirFicha('colaboradores')">Colaboradores</a></li>
					</ul>
					<%= link_to "Pide ayuda al Equipo", new_asesoria_path, :class => "boton-azul pide-ayuda"%>

				</div>
			</div><!--columna-full-->
		</div><!-- #content -->