<h1>Cambiar Contraseña</h1>
<%= form_tag change_password_path :validate => true do %>
  <div class="field">
    <%= label_tag :password %>
    <%= text_field_tag :password %>
  </div>
  <div class="field">
    <%= label_tag :password_confirmation %>
    <%= password_field_tag :password_confirmation %>
  </div>
  <div class="actions"><%= submit_tag "Cambiar" %></div>
<% end %>