<p id="notice"><%= notice %></p>

<p>
  <b>Nombre:</b>
  <%= @terapeutum.nombre %>
</p>

<p>
  <b>Direccion:</b>
  <%= @terapeutum.direccion %>
</p>

<p>
  <b>Region:</b>
  <%= @terapeutum.region %>
</p>

<p>
  <b>Comuna:</b>
  <%= @terapeutum.comuna %>
</p>

<p>
  <b>Ptelefono:</b>
  <%= @terapeutum.ptelefono %>
</p>

<p>
  <b>Telefono:</b>
  <%= @terapeutum.telefono %>
</p>

<p>
  <b>Pmovil:</b>
  <%= @terapeutum.pmovil %>
</p>

<p>
  <b>Email:</b>
  <%= @terapeutum.email %>
</p>


<%= link_to 'Edit', edit_terapeutum_path(@terapeutum) %> |
<%= link_to 'Back', terapeuta_path %>
