<%= form_for @terapia, :html => {:multipart => true} do |f| %>
  <% if @terapia.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@terapia.errors.count, "error") %> prohibited this terapia from being saved:</h2>

      <ul>
      <% @terapia.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :nombre_corto %><br />
    <%= f.text_field :nombre_corto %>
  </div>
  <div class="field">
    <%= f.label :descripcion_corta %><br />
    <%= f.text_field :descripcion_corta %>
  </div>
  <div class="field">
    <%= f.label :descripcion %><br />
    <%= f.text_field :descripcion %>
  </div>
  <div class="field">
  	<%= f.label :categoria %><br />
  	<%= f.collection_select :categoria, RefDatum.where(:nombre => "Categoria Terapia"), :valor, :valor %>
  </div>
  <div class="field">
  	<%= f.label :caracteristica %><br />
	<%= f.collection_select :caracteristica, RefDatum.where(:nombre => "Caracteristica Tratamiento"), :valor, :valor %>
  </div>
  <div class="field">
    <%= f.label :imagen_url %><br />
    <%= f.file_field :imagen_url %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
