<%= nested_form_for(@terapia) do |f| %>
  <% if @terapia.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@terapia.errors.count, "error") %> prohibited this terapia from being saved:</h2>

      <ul>
      <% @terapia.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="input_field">
    <%= f.label :nombre_corto %><br />
    <%= f.text_field :nombre_corto %>
  </div>
  <div class="input_field">
    <%= f.label :descripcion_corta %><br />
    <%= f.text_area :descripcion_corta, :class => "area_small" %>
  </div>
  <div class="input_field">
    <%= f.label :descripcion %><br />
    <%= f.text_area :descripcion, :class => "area_big" %>
  </div>
  <div class="input_field">
  	<%= f.label :categoria %><br />
  	<%= f.collection_select :categoria, RefDatum.where(:nombre => "Categoria Terapia"), :valor, :valor %>
  </div>
  <div class="input_field">
  	<%= f.label :caracteristica %><br />
	<%= f.collection_select :caracteristica, RefDatum.where(:nombre => "Caracteristica Tratamiento"), :valor, :valor %>
  </div>
  <div class="input_field">
    <%= f.label :imagen_url %><br />
    <%= f.file_field :imagen_url %>
  </div>
  
  <%= f.fields_for :terapia_terapeutas do |tt| %>
  <div class="input_field">
	<%= tt.collection_select :terapeuta_id, Terapeuta.order(:nombre), :id, :nombre, {include_blank: true} %>
	<%= tt.link_to_remove " X ", :class => "borrar" %>
  </div>
  <% end %>
  <div class="input_field">
  <%= f.link_to_add "Añadir Terapeuta", :terapia_terapeutas %>
  </div>
 
  <br />
  <br />
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
