<div id="block-content" class="block-wrapper">
	<div class="wrapper" id="content">

	<div class="columna-670-left">
		<h2>Tipos de Terapias</h2>

		<div class="busqueda-box-center sec-tipos-de-terapia">
			
			<%= render "search_form"%>
		
			<p class="busqueda-mensaje-resultado">
				Total de modalidades de terapias según orden alfabético
			</p>
			
			<% @terapias.each do |terapia| %>
	
			<div class="ficha-terapias">
				
				<div class="contenido-ficha">
					<div class="descripcion-resumen">
						<div class="ficha-columna">
							<% if terapia.imagen_url != nil %>
								<div class="foto"><%= image_tag terapia.imagen_url.thumb.url.to_s %></div>
							<% else %>
								<div class="foto"><img src="http://fpoimg.com/140x100" alt="Esteban Soto" width="140" height="100" border="0" /></div>
							<% end %>
							<p class="nombre-ficha"><%= link_to terapia.nombre_corto, terapia_path(terapia) %></p>
							<p>
								<%= terapia.descripcion_corta %>
							</p>
							<span class="bt-ver-mas"></span>
						</div>
					</div>
					<div class="descripcion-full">
						<div class="ficha-columna">
								<div class="foto"><%= image_tag terapia.imagen_url.thumb.url.to_s %></div>
								<p class="nombre-ficha"><%= link_to terapia.nombre_corto, terapia_path(terapia) %></p>
								<%= simple_format(terapia.descripcion) %>
						</div><!-- ficha-columna -->
						
						<% if terapia.terapeutas and terapia.terapeutas.size > 0 %>
						<div class="ficha-sidebar">
							<div class="box box-terapeutas">
								<h3>Terapéutas <%= terapia.nombre_corto %>:</h3>
								<ul>
									<% terapia.terapeutas.each do |terapeuta| %>
									<li><span>
										<%= link_to terapeuta.nombre, ficha_path(terapeuta) %><br/>
										<% terapeuta.tipo_terapias.each do |tt| %>
											<%= tt.nombre %> - 
										<% end %><br />
										<%= terapeuta.comuna.titleize %>, <%= terapeuta.region.titleize %>
										</span>
									</li>
									<% end %>
								</ul>
							</div>
						</div><!-- ficha-sidebar -->
						<% end %>
						<hr/>	
						<div class="bottom-social">
							<a href="#" class="bt-email">Enviar por correo</a> 
							<a href="#" class="bt-print">Imprimir</a> 
							<div class="social-icons">
								<div class="share-facebook">
									<div class="fb-like" data-href="http://www.google.com" data-send="true" data-layout="button_count" data-width="220" data-show-faces="true" data-action="recommend"></div>
								</div>
								<div class="share-twitter">
									<a href="https://twitter.com/share" class="twitter-share-button" data-url="http://www.google.com/">Tweet</a>
								</div>
							</div><!-- social-icons -->
						</div><!-- bottom-social -->
						
						
					</div><!--descirpcion full-->
				</div><!--contenido ficha-->
			</div><!--ficha terapias-->
			
			<% end %>

			<%= will_paginate @terapias, previous_label: h("<"), next_label: h(">") %>
		</div><!--form-box-center-->
	</div><!--columna-670-left-->
	
	
		<%= render "home/preguntas_frecuentes" %>
	</div><!--columna-335-right-->
	</div><!-- #content -->
</div><!-- block-content -->
