<div id="block-content" class="block-wrapper">
	<div class="wrapper" id="content">

	<div class="columna-670-left">
		<h2>Tipos de Terapias</h2>

		<div class="busqueda-box-center sec-tipos-de-terapia">
			
			<%= render "search_form"%>
		
			<p class="busqueda-mensaje-resultado">
				Total de modalidades de terapias según orden alfabético
			</p>
			
			<% @terapias.each do |terapia| %>
	
			<div class="ficha-terapias">
				
				<div class="contenido-ficha">
					<div class="descripcion-resumen">
						<div class="ficha-columna">
							<% if terapia.imagen_url != nil %>
								<div class="foto"><%= image_tag terapia.imagen_url.thumb.url.to_s %></div>
							<% else %>
								<div class="foto"><img src="http://fpoimg.com/140x100" alt="Esteban Soto" width="140" height="100" border="0" /></div>
							<% end %>
							<p class="nombre-ficha"><%= terapia.nombre_corto %></p>
							<p>
								<%= terapia.descripcion_corta %>
							</p>
							<span class="bt-ver-mas"></span>
						</div>
					</div>
					<div class="descripcion-full">
						<div class="ficha-columna">
								<div class="foto"><%= image_tag terapia.imagen_url.thumb.url.to_s %></div>
								<p class="nombre-ficha"><%= terapia.nombre_corto %></p>
								<%= simple_format(terapia.descripcion) %>								
						</div><!-- ficha-columna -->
							
						<hr/>	
						<div class="bottom-social">
							<a href="#" class="bt-email">Enviar por correo</a> 
							<a href="#" class="bt-print">Imprimir</a> 
							<div class="social-icons">
								<div class="share-facebook">
									<div class="fb-like" data-href="http://www.google.com" data-send="true" data-layout="button_count" data-width="220" data-show-faces="true" data-action="recommend"></div>
								</div>
								<div class="share-twitter">
									<a href="https://twitter.com/share" class="twitter-share-button" data-url="http://www.google.com/">Tweet</a>
								</div>
							</div><!-- social-icons -->
						</div><!-- bottom-social -->
						
						
					</div><!--descirpcion full-->
				</div><!--contenido ficha-->

			</div><!--ficha terapias-->
			
			<% end %>

			<%= will_paginate @terapias, previous_label: h("<"), next_label: h(">") %>
		</div><!--form-box-center-->
	</div><!--columna-670-left-->
	
	
	<div class="columna-335-right">
		<h2>Preguntas frecuentes</h2>
	
		<div class="acordeon-lista">
			<ul>
				<li>
					<div class="acordeon-header">
						<p>¿Cuándo tendré respuesta a mi solicitud?</p>
					</div>
					<div class="acordeon-content">
						<div class="acordeon-text">
							<p>Tu solicitud será respondida dentro de los próximo 90 minutos. Contamos con un grupo de profesionales especializados y capacitados para resolver tus dudas con respecto a qué debes realizar con tu problema.</p>
						</div>
					</div>
				</li>
				<li>
					<div class="acordeon-header">
						<p>pregunta 2</p>
					</div>
					<div class="acordeon-content">
						<div class="acordeon-text">
							<p>Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. </p>
						</div>
					</div>
				</li>
				<li>
					<div class="acordeon-header">
						<p>pregunta 3</p>
					</div>
					<div class="acordeon-content">
						<div class="acordeon-text">
							<p>Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. </p>
						</div>
					</div>
				</li>
				<li>
					<div class="acordeon-header">
						<p>pregunta 1</p>
					</div>
					<div class="acordeon-content">
						<div class="acordeon-text">
							<p>Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. </p>
						</div>
					</div>
				</li>
			</ul>
		</div>
		<p class="right"><small><a href="#">Ver más preguntas frecuentes</a></small></p>
	</div><!--columna-335-right-->
	</div><!-- #content -->
</div><!-- block-content -->
