  <h3>Mi problema</h3>
  <p>En solo dos pasos puedes contarnos la situación para que te ayudemos</p>
  <fieldset style="width:450px">
  	  <%= hidden_field_tag :step, "miproblema" %>
	  <legend>Necesidades</legend>
	  <div class="field">
	    <%= f.label "*1. ¿Por qué necesitas una terapia?" %><br />
	    <%= f.text_area :necesidad_1, :size => "50x10" %>
	  </div>
	  <div class="field">
	    <%= f.label "*2. ¿Cómo te imaginas tu terapia?" %><br />
	    <%= f.text_area :necesidad_2, :size => "50x10" %>
	  </div>
  </fieldset>
