<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta http-equiv="content-type" content="text/html; charset=UTF-8" />
	<meta name="Author" content="Mauricio Liu, liu.mauricio@gmail.com" />
	<% if @description %>
		<meta name="description" content="<%= @description %>" />
	<% elsif @title %>
		<meta name="description" content="<%= @title %> - BuscoTerapia" />
	<% else %>
		<meta name="description" content="Buscoterapia te ofrece de manera gratuita el más amplio y completo servicio de búsqueda de terapias y terapeutas a nivel nacional." />
	<% end %>
	<meta name="keywords" content="<%= @title ? @title + " - BuscoTerapia" : "Busco Terapia, Psicologo, Psiquiatra, Medico Alternativo" %>" />
  	<title><%= @title ? @title + " - BuscoTerapia" : "Buscoterapia" %></title>
	 	<%= stylesheet_link_tag "main", "fullcalendar", "jquery-ui" %>
  		<%= javascript_include_tag 'application', 'fullcalendar' %>
  		<%= csrf_meta_tag %>
        <script type="text/javascript">

          var _gaq = _gaq || [];
          _gaq.push(['_setAccount', 'UA-29129784-1']);
          _gaq.push(['_trackPageview']);

          (function() {
                var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
                ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
                var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
          })();

        </script>
	<script type="text/javascript">
	<% if @notice %>
	$(document).ready(function() {
		alertMsj("<%= @notice %>")
	});
	<% end %>
	</script>
	
	<!--script type="text/javascript">(function(){var src = ("https:" == document.location.protocol ? "https://" : "http://") + "buscoterapia.csupporthq.com/external/chat-float-inline.js";
	document.write("<script src='"+src+"' type='text/javascript'><\/script>");
	})();
	</script-->
	
</head>
<body>
	<div id="header">
		<div class="wrapper">
		<div id="branding">
			<h1><%= link_to 'Buscoterapia', root_url, :class => "buscoterapia", :title => "Buscoterapia" %></h1>
		</div><!-- branding -->
		<% if session[:terapeuta] == nil %>
		<div id="login">
			<p><a href="#"><strong>¿Quieres Iniciar tu sesión?</strong></a></p>
		</div><!-- login -->
		<div id="unfocus-bg-login-form"></div>
		<div id="loginForm">
		<%= form_tag sessions_path do %>
			<div class="form-block">
				<div class="label">Correo electronico</div>
				<div class="input_field">
					<%= text_field_tag :email, params[:email], :id => "user_field" %>
					<p class="message">Complete este campo</p>
				</div>
			</div>
			<div class="form-block "><!-- en este caso con clase alerta aparece el aviso -->
				<div class="label">Contraseña</div>
				<div class="input_field">
					<%= password_field_tag :password %>
					<p class="message">Complete este campo</p>
				</div>
			</div>
			<p id="password-incorrecto">Tus datos no coinciden</p><!-- tiene display none, necesita display block para aparecer-->
			
			<%= submit_tag "Ingresar", :class => "boton-azul" %>
			<hr class="login-separador"/>
			<br/>
			<%= link_to "¿Olvidaste tu contraseña?", forgot_password_url %>
		<% end %>
		</div><!-- #loginForm -->
		<% else %>
		<div id="logged-in">
			<p>
				Bienvenido <strong><%= session[:terapeuta].nombre %></strong> <%= link_to 'Cerrar sesión', logout_path %><br />
				<strong><%= link_to "Mi cuenta", edit_terapeuta_path(session[:terapeuta]) %></strong>
			</p>
		</div><!-- login -->
		<% end %>
		</div><!-- wrapper	 -->
	</div><!-- header -->
	
	<div id="block-nav" class="block-wrapper">
		<div id="nav" class="wrapper">
			<ul class="main">
				<% if @menu=="inicio" %>
					<li class="current"><%= link_to 'Inicio', root_url %></li>
				<% else %>
					<li><%= link_to 'Inicio', root_url %></li>
				<% end %>
				<% if @menu=="asesoria" %>
					<li class="current"><%= link_to 'Solicitar asesoría terapeutica', new_asesoria_path %></li>
				<% else %>
					<li><%= link_to 'Solicitar asesoría terapeutica', new_asesoria_path %></li>
				<% end %>
				<% if @menu=="buscar terapeuta"%>
					<li class="current"><%= link_to 'Buscar terapeutas', terapeutas_path %></li>
				<% else %>
					<li><%= link_to 'Buscar terapeutas', terapeutas_path %></li>
				<% end %>
				<% if @menu=="terapias"%>
					<li class="current"><%= link_to 'Tipo de Terapias', terapias_path %></li>
				<% else %>
					<li><%= link_to 'Tipo de Terapias', terapias_path %></li>
				<% end %>
				<% if @menu=="articulos"%>
					<li class="current"><%= link_to 'Noticias y artículos', articulos_path %></li>
				<% else %>
					<li><%= link_to 'Noticias y artículos', articulos_path %></li>
				<% end %>
			</ul>
			<ul class="acceso">
				<% if @menu=="acceso terapeuta"%>
					<li class="current"><%= link_to 'Acceso terapeutas', acceso_terapeutas_path %></li>
				<% else %>
					<li><%= link_to 'Acceso terapeutas', acceso_terapeutas_path %></li>
				<% end %>
			</ul>					
		</div><!-- nav -->
	</div><!-- block-nav -->
	
	<%= yield %>
	
	<%= render "home/footer" %>
</body>
</html>
