<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta http-equiv="content-type" content="text/html; charset=UTF-8" />
  	<title>Buscoterapia</title>
	 	<%= stylesheet_link_tag "main" %>
  		<%= javascript_include_tag 'application' %>
  		<%= csrf_meta_tag %>
</head>
<body>
	<div id="header">
		<div class="wrapper">
		<div id="branding">
			<h1><%= link_to 'Buscoterapia', root_url, :class => "buscoterapia", :title => "Buscoterapia" %></h1>
		</div><!-- branding -->
		<% if session[:terapeuta] == nil %>
		<div id="login">
			<p><a href="#">Quieres Iniciar tu sesión?</a></p>
		</div><!-- login -->
		<div id="unfocus-bg-login-form"></div>
		<div id="loginForm">
		<%= form_tag sessions_path, :remote => true, :validate => true do %>
			<div class="form-block">
				<div class="label">Correo electronico</div>
				<div class="input_field">
					<%= text_field_tag :email, params[:email], :id => "user_field" %>
					<p class="message">Complete este campo</p>
				</div>
			</div>
			<div class="form-block "><!-- en este caso con clase alerta aparece el aviso -->
				<div class="label">Contraseña</div>
				<div class="input_field">
					<%= password_field_tag :password %>
					<p class="message">Complete este campo</p>
				</div>
			</div>
			<p id="password-incorrecto">Tus datos no coinciden</p><!-- tiene display none, necesita display block para aparecer-->
			
			<%= submit_tag "Ingresar", :class => "boton-azul" %>
			<hr class="login-separador"/>
			<br/>
			<%= link_to "¿Olvidaste tu contraseña?", forgot_password_url %>
		<% end %>
		</div><!-- #loginForm -->
		<% else %>
		<div id="logged-in">
			<p>
				Bienvenido <strong><%= session[:terapeuta].nombre %></strong> <%= link_to 'Cerrar sesión', logout_path %><br />
				<%= link_to "Mi cuenta", edit_terapeuta_path(session[:terapeuta]) %>
			</p>
		</div><!-- login -->
		<% end %>
		</div><!-- wrapper	 -->
	</div><!-- header -->
	
	<div id="block-nav" class="block-wrapper">
		<div id="nav" class="wrapper">
			<ul class="main">
				<li class="current"><%= link_to 'Inicio', root_url %></li>
				<li><%= link_to 'Solicitar asesoría terapeutica', new_asesoria_path %></li>
				<li><%= link_to 'Buscar terapeutas', terapeutas_path %></li>
				<li><%= link_to 'Tipo de Terapias', terapias_path %></li>
				<li><%= link_to 'Noticias y artículos', articulos_path %></li>
			</ul>
			<ul class="acceso">
				<li><%= link_to 'Acceso terapeutas', acceso_terapeutas_path %></li>
			</ul>					
		</div><!-- nav -->
	</div><!-- block-nav -->
	
	<%= yield %>
	
	<div id="block-footer" class="block-wrapper">
		<div id="footer" class="wrapper">
			<ul class="left">
				<li><a href="#">Buscoterapia © 2012</a></li>
			</ul>
			<ul class="right">
				<li><a href="#">Quienes somos</a></li>
				<li><a href="#">Mapa del sitio</a></li>
				<li><a href="#">Contacto</a></li>
				<li><%= link_to "Condiciones de uso", condiciones_de_uso_url %></li>
				<li><%= link_to "Preguntas frecuentes", preguntas_frecuentes_url %></li>
				<li><%= link_to "Políticas de Privacidad", privacidad_url %></li>
			</ul>
		</div><!-- footer -->
	</div><!-- block-wrapper -->
</body>
</html>
