<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta http-equiv="content-type" content="text/html; charset=UTF-8" />
	<meta content="Mauricio Liu, liu.mauricio@gmail.com" name="Author">
	<meta name="title" content="BuscoTerapia, Busco Terapia, Terapeuta, Terapeutas, Terapia, Terapias, Psicologo, Psiquiatra, Sicologo, Siquiatra, Medicina, Medicina Alternativa, Acupuntura, Sistemica Relacional, Psicoanalitica,Cognitivo, Constructivista, Psicoterapia, Ho´oponopono, Flores de Bach, Shiatsu, Yoga, Reiki, Ayurveda, Homeopatia, Naturopatia, Medicina Tradicional China">
	<meta name="keywords" content="BuscoTerapia, Busco Terapia, Terapeuta, Terapeutas, Terapia, Terapias, Psicologo, Psiquiatra, Sicologo, Siquiatra, Medicina, Medicina Alternativa, Acupuntura, Sistemica Relacional, Psicoanalitica,Cognitivo, Constructivista, Psicoterapia, Ho´oponopono, Flores de Bach, Shiatsu, Yoga, Reiki, Ayurveda, Homeopatia, Naturopatia, Medicina Tradicional China">
	<meta name="description" content="BuscoTerapia, Busco Terapia, Terapeuta, Terapeutas, Terapia, Terapias, Psicologo, Psiquiatra, Sicologo, Siquiatra, Medicina, Medicina Alternativa, Acupuntura, Sistemica Relacional, Psicoanalitica,Cognitivo, Constructivista, Psicoterapia, Ho´oponopono, Flores de Bach, Shiatsu, Yoga, Reiki, Ayurveda, Homeopatia, Naturopatia, Medicina Tradicional China">
  	<title>Buscoterapia</title>
	 	<%= stylesheet_link_tag "main.css" %>
  		<%= javascript_include_tag "application" %>
  		<%= csrf_meta_tag %>
  		
        <script type="text/javascript">

          var _gaq = _gaq || [];
          _gaq.push(['_setAccount', 'UA-29129784-1']);
          _gaq.push(['_trackPageview']);

          (function() {
                var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
                ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
                var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
          })();

        </script>

</head>
<body class="loggedIn homePrivado" ><!-- <body class="loggedIn" > -->
	<div id="header">
		<div class="wrapper">
		<div id="branding">
			<h1><%= link_to 'Buscoterapia', root_url, :class => "buscoterapia", :title => "Buscoterapia" %></h1>
		</div><!-- branding -->
		<% if session[:terapeuta] == nil %>
		<div id="login">
			<p><a href="#"><strong>Quieres Iniciar tu sesión?</strong></a></p>
		</div><!-- login -->
		<div id="unfocus-bg-login-form"></div>
		<div id="loginForm">
		<%= form_tag sessions_path, :remote => true, :validate => true do %>
			<div class="form-block">
				<div class="label">Correo electronico</div>
				<div class="input_field">
					<%= text_field_tag :email, params[:email], :id => "user_field" %>
					<p class="aviso">Complete este campo</p>
				</div>
			</div>
			<div class="form-block alerta"><!-- en este caso con clase alerta aparece el aviso -->
				<div class="label">Password</div>
				<div class="input_field">
					<%= password_field_tag :password %>
					<p class="aviso">Complete este campo</p>
				</div>
			</div>
			<p id="password-incorrecto">Tus datos no coinciden</p><!-- tiene display none, necesita display block para aparecer-->
			<span class="texto-recordar"><input type="checkbox" name="recordar" value="recordar"> <span>recordar</span></span>
			
			<%= submit_tag "Ingresar", :class => "boton-azul" %>
			<hr class="login-separador"/>
			<br/>
			<%= link_to "¿Olvidaste tu contraseña?", forgot_password_url %>
		<% end %>
		</div><!-- #loginForm -->
		<% else %>
		<div id="logged-in">
			<p>
				Bienvenido <strong><%= session[:terapeuta].nombre %></strong> <%= link_to 'Cerrar sesión', logout_path %><br />
				<%= link_to "Mi cuenta", edit_terapeuta_path(session[:terapeuta]) %>
			</p>
		</div><!-- login -->
		<% end %>
		</div><!-- wrapper	 -->
	</div><!-- header -->
	
	<div id="block-nav" class="block-wrapper">
		<div id="nav" class="wrapper">
			<ul class="main">
				<li class="current"><a href="#"><%= link_to "Mi ficha", edit_terapeuta_path(session[:terapeuta]) %></a></li>
				<li><%= link_to "Mi plan y beneficios", plan_beneficios_path %></li>
				<li><%= link_to "Estadísticas", estadisticas_path %></li>
				<li><a href="#">&nbsp;</a></li>
				<li class="bt-nav-faq"><a href="#">Preguntas frecuentes</a></li>
			</ul>
		</div><!-- nav -->
	</div><!-- block-nav -->
	
	<%= yield %>
	
	<%= render "home/footer" %>
</body>
</html>