<div id="block-content" class="block-wrapper">
	<div class="wrapper" id="content">

	<div class="columna-670-left">
		<h2>Artículos</h2>
		
		<div class="busqueda-box-center sec-articulos-y-noticias">
			<% if @articulos.count > 0%>
			<p class="busqueda-mensaje-resultado">
				Últimos artículos
			</p>
			<% end %>
			
			<% @articulos.each do |articulo| %>
				<div class="ficha-articulo">
					<div class="contenido-ficha">
						<% if articulo.imagen_url.size != 0 %>
							<div class="foto"><%= image_tag articulo.imagen_url.medium_thumb.url.to_s %></div>
						<% else %>
							<div class="foto"><img src="http://fpoimg.com/203x140" alt="Esteban Soto" width="203" height="140" border="0" /></div>
						<% end %>
						<div class="encabezado">
							<h3><Acupuntura><%= articulo.titulo %></h3>
							<p><%= articulo.created_at.strftime('%B %e, %Y')%>. Escrito por <%= articulo.autor %>, <%= articulo.especialidad %>.</p>
						</div>
						<p>
							<%= articulo.contenido[1,170 ]%>								 
							... <%= link_to 'Continuar leyendo', articulo_path(articulo) %>.</a>
						</p>						
					</div><!--contenido ficha-->
				</div><!--ficha articulo-->
				<% end %>
			<%= will_paginate @articulos, previous_label: h("<"), next_label: h(">") %>
		</div><!--form-box-center-->
	</div><!--columna-670-left-->
	
	
	<div class="columna-335-right sidebar-noticias">
		<h2>Noticias</h2>
		<% @noticias.each do |noticia| %>
			<div class="ficha-noticia">
				<div class="contenido-ficha">
						<div class="encabezado">
							<h3><%= noticia.titulo %></h3>
							<p><%= noticia.created_at.strftime('%B %e, %Y')%></p>
						</div>
						<% if noticia.imagen_url.size != 0 %>
							<div class="foto"><%= image_tag noticia.imagen_url.horizontal_thumb.url.to_s %></div>
						<% else %>
							<div class="foto"><img src="http://fpoimg.com/280x100" alt="Esteban Soto" width="280" height="100" border="0" /></div>
						<% end %>
						<p>
							<%= noticia.contenido[1,170 ]%>								 
							... <%= link_to 'Continuar leyendo', articulo_path(noticia) %>.</a>
						</p>						
				</div><!--contenido ficha-->
				
			</div><!--ficha noticia-->
		<% end %>
	</div><!--columna-335-right-->
	
	</div><!-- #content -->
</div><!-- block-content -->
