<div id="block-content" class="block-wrapper">
	<div class="wrapper" id="content">

	<div class="columna-670-left">
		<h2><%= @articulo.tipo == "noticia" ? "Noticias" : "Artículos" %></h2>
		<div class="busqueda-box-center sec-articulos-y-noticias">
			<div class="articulo-volver">
				<%= link_to '<< Volver', articulos_path %>
			</div>
			
			<div class="ficha-articulo">
				
				<div class="contenido-ficha">
						<div class="foto"><%= image_tag @articulo.imagen_url.medium_thumb.url.to_s %></div>
						<div class="encabezado">
							<h3><%= @articulo.titulo %>.</h3>
							<p><%= @articulo.created_at.strftime('%B %e, %Y')%>. Escrito por <%= @articulo.autor %>, <%= @articulo.especialidad %>.</p>
		
						</div>
						<p>
							<%= simple_format(@articulo.contenido) %> 
						</p>
						<hr/>	
						<div class="bottom-social no-print">
							<a href="#" class="bt-email">Enviar por correo</a> 
							<a href="#" class="bt-print">Imprimir</a> 
							<div class="social-icons">
		
								<div class="share-facebook">
									<div class="fb-like" data-href="http://www.uchile.cl" data-send="true" data-layout="button_count" data-width="100" data-show-faces="true" data-action="recommend"></div>
								</div>
								<div class="share-twitter">
									<a href="https://twitter.com/share" class="twitter-share-button" data-url="http://www.uchile.cl/">Tweet</a>
								</div>
							</div><!-- social-icons -->
						</div><!-- bottom-social -->
		
					
				</div><!--contenido ficha-->
				
			</div><!--ficha articulo-->
		
		
			<div class="articulo-volver">
				<%= link_to '<< Volver', articulos_path %>
			</div>
		
		</div><!--form-box-center-->
		
		</div><!--columna-670-left-->
		
		
		<div class="columna-335-right sidebar-noticias">
			<h2>Noticias</h2>
			<% @noticias.each do |noticia| %>
				<% if noticia.id != @articulo.id %>
				<div class="ficha-noticia">
					<div class="contenido-ficha">
							<div class="encabezado">
								<h3><%= link_to noticia.titulo, articulo_path(noticia) %></h3>
								<p><%= noticia.created_at.strftime('%B %e, %Y')%></p>
							</div>
							<div class="foto"><%= image_tag noticia.imagen_url.horizontal_thumb.url.to_s %></div>
							<p>
								<%= noticia.contenido[1,170 ]%>								 
								... <%= link_to 'Continuar leyendo', articulo_path(noticia) %>.</a>
							</p>						
					</div><!--contenido ficha-->
					
				</div><!--ficha noticia-->
				<% end %>
			<% end %>
					
			</div><!--columna-335-right-->
		</div><!-- #content -->
	</div><!-- block-content -->

